command: 'st run /app/processedSpecs/youtube/get-videos.yaml --checks all --continue-on-failure --rate-limit 20/m --report junit,har,vcr --report-dir /app/expScripts/schemathesis-unique-reports/YouTube/getVideos --output-truncate false --max-examples 1000 --seed 42 --no-shrink --generation-unique-inputs --generation-deterministic --phases examples,fuzzing --url https://youtube.googleapis.com'
recorded_with: 'Schemathesis 4.6.1'
seed: 42
http_interactions:
- id: 'okAGPD'
  status: 'FAILURE'
  generation:
    time: 0.007463244721293449
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:36.866844+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_headers_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_schema_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'negative_data_rejection'
      status: 'SUCCESS'
      message: ~
    - name: 'positive_data_acceptance'
      status: 'FAILURE'
      message: 'API rejected schema-compliant request'
    - name: 'missing_required_header'
      status: 'SUCCESS'
      message: ~
    - name: 'unsupported_method'
      status: 'SUCCESS'
      message: ~
    - name: 'use_after_free'
      status: 'SUCCESS'
      message: ~
    - name: 'ensure_resource_availability'
      status: 'SUCCESS'
      message: ~
    - name: 'ignored_auth'
      status: 'SUCCESS'
      message: ~

  request:
    uri: 'https://youtube.googleapis.com/youtube/v3/videos'
    method: 'GET'
    headers:
      "Authorization":
      - "[Filtered]"
      "X-Schemathesis-TestCaseId":
      - "okAGPD"

  response:
    status:
      code: '400'
      message: "Bad Request"
    elapsed: '0.09936'
    headers:
      "content-type":
      - "application/json; charset=UTF-8"

    body:
      encoding: 'UTF-8'
      string: "{\n  \"error\": {\n    \"code\": 400,\n    \"message\": \"No filter selected. Expected one of: chart, myRating, id\",\n    \"errors\": [\n      {\n        \"message\": \"No filter selected. Expected one of: chart, myRating, id\",\n        \"domain\": \"youtube.parameter\",\n        \"reason\": \"missingRequiredParameter\",\n        \"location\": \"parameters.\",\n        \"locationType\": \"other\"\n      }\n    ]\n  }\n}\n"
- id: 'kXymFZ'
  status: 'SUCCESS'
  generation:
    time: 0.03336988668888807
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:37.111053+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'Ts5z9y'
  status: 'SUCCESS'
  generation:
    time: 0.011746948584914207
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:37.266209+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'SWJZKx'
  status: 'FAILURE'
  generation:
    time: 0.0023720748722553253
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:37.447913+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'EV3VZk'
  status: 'FAILURE'
  generation:
    time: 0.0033171772956848145
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:37.589387+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: '7UN7l6'
  status: 'FAILURE'
  generation:
    time: 0.002688990905880928
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:37.737278+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'fU3hCp'
  status: 'SUCCESS'
  generation:
    time: 0.039661179296672344
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:38.153312+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'VapxAz'
  status: 'FAILURE'
  generation:
    time: 0.002744433470070362
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:38.290082+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: '35xUF8'
  status: 'SUCCESS'
  generation:
    time: 0.07253269199281931
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:38.689921+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'O1nGu4'
  status: 'SUCCESS'
  generation:
    time: 0.02053769212216139
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:39.444174+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'J5UjAl'
  status: 'FAILURE'
  generation:
    time: 0.0026636188849806786
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:39.699441+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'rOX8AE'
  status: 'FAILURE'
  generation:
    time: 0.0028849896043539047
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:39.845354+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'iABmox'
  status: 'FAILURE'
  generation:
    time: 0.0028077326714992523
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:39.975572+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'I6vjko'
  status: 'FAILURE'
  generation:
    time: 0.0029563549906015396
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:40.106061+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: '6155wZ'
  status: 'FAILURE'
  generation:
    time: 0.002857533283531666
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:40.235055+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'Sc5gLM'
  status: 'FAILURE'
  generation:
    time: 0.002832978032529354
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:40.364748+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'X6YK5M'
  status: 'FAILURE'
  generation:
    time: 0.0033884290605783463
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:40.500942+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'sCTpGW'
  status: 'FAILURE'
  generation:
    time: 0.002711948938667774
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:40.633640+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: '9LHMtg'
  status: 'FAILURE'
  generation:
    time: 0.0024254145100712776
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:40.761875+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'uYKTS1'
  status: 'FAILURE'
  generation:
    time: 0.0022532856091856956
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:49:40.925581+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'wGuabg'
  status: 'FAILURE'
  generation:
    time: 0.002649783156812191
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:36.853621+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'MW3rMw'
  status: 'FAILURE'
  generation:
    time: 0.0028842398896813393
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:37.170077+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: '7IzXKk'
  status: 'FAILURE'
  generation:
    time: 0.002565499395132065
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:37.306931+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'tFwwXM'
  status: 'FAILURE'
  generation:
    time: 0.0025479812175035477
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:37.494484+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'o16LiF'
  status: 'FAILURE'
  generation:
    time: 0.0022555412724614143
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:37.624163+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'YXKceg'
  status: 'FAILURE'
  generation:
    time: 0.002645774744451046
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:37.770307+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'o2H3TF'
  status: 'SUCCESS'
  generation:
    time: 0.019219178706407547
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:38.195663+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'EpZIlL'
  status: 'SUCCESS'
  generation:
    time: 0.0187097005546093
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:38.485450+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respons[...]
- id: 'rcKBxF'
  status: 'SUCCESS'
  generation:
    time: 0.01897486299276352
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:38.733135+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'M37Jq3'
  status: 'SUCCESS'
  generation:
    time: 0.019156325608491898
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:39.487026+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'E1nLfL'
  status: 'FAILURE'
  generation:
    time: 0.002054918557405472
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:39.749781+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'TUnyEY'
  status: 'FAILURE'
  generation:
    time: 0.00269502867013216
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:39.889534+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'rWugTB'
  status: 'FAILURE'
  generation:
    time: 0.002161947079002857
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:40.083480+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: '0YOsL2'
  status: 'FAILURE'
  generation:
    time: 0.0027120308950543404
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:40.209366+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'YpZHVn'
  status: 'FAILURE'
  generation:
    time: 0.0028167320415377617
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:40.335991+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: '2mh2AN'
  status: 'FAILURE'
  generation:
    time: 0.0031745946034789085
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:40.462928+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'cJ4e9J'
  status: 'FAILURE'
  generation:
    time: 0.002787204459309578
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:40.594164+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'wKPdh8'
  status: 'FAILURE'
  generation:
    time: 0.003049047663807869
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:40.726821+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'HkxuQJ'
  status: 'FAILURE'
  generation:
    time: 0.003388938494026661
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:40.849681+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'aAmKjk'
  status: 'FAILURE'
  generation:
    time: 0.003037502057850361
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:50:40.983894+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'vFzcW4'
  status: 'FAILURE'
  generation:
    time: 0.0024449145421385765
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:36.896622+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'GZsg2z'
  status: 'FAILURE'
  generation:
    time: 0.00222616083920002
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:37.221282+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'qN8RBI'
  status: 'FAILURE'
  generation:
    time: 0.0031357547268271446
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:37.356787+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'jsjzME'
  status: 'FAILURE'
  generation:
    time: 0.003988724201917648
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:37.546745+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'DtVfbW'
  status: 'FAILURE'
  generation:
    time: 0.0035940827801823616
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:37.681115+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: '43hf3g'
  status: 'FAILURE'
  generation:
    time: 0.0036165937781333923
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:37.809668+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'FaOylo'
  status: 'FAILURE'
  generation:
    time: 0.003620714880526066
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:38.249819+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'uzudPS'
  status: 'FAILURE'
  generation:
    time: 0.0035895565524697304
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:38.539604+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'TOazQR'
  status: 'FAILURE'
  generation:
    time: 0.005795120261609554
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:38.784136+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'BHlDKU'
  status: 'FAILURE'
  generation:
    time: 0.007994572632014751
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:39.540943+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
[...]
- id: 'REZ3j6'
  status: 'FAILURE'
  generation:
    time: 0.011062809266149998
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:39.980731+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: '7A96AI'
  status: 'FAILURE'
  generation:
    time: 0.006649703718721867
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:40.159241+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: '3SSFbh'
  status: 'FAILURE'
  generation:
    time: 0.006020517088472843
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:40.313067+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'R0lFQ7'
  status: 'FAILURE'
  generation:
    time: 0.004911033436655998
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:40.443689+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'uOj33j'
  status: 'FAILURE'
  generation:
    time: 0.00453744363039732
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:51:40.574061+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'FVkaAf'
  status: 'FAILURE'
  generation:
    time: 0.003683977760374546
    mode: positive
  components:
    query:
[...]
