command: 'st run /home/ubuntu/exp/services/httpmutator-benchmark/processedSpecs/yelp/get-search.yaml --checks all --continue-on-failure --rate-limit 10/m --report junit,har,vcr --report-dir /home/ubuntu/exp/services/httpmutator-benchmark/expScripts/schemathesis-unique-reports/Yelp/getBusinessesSearch --output-truncate false --max-examples 1000 --seed 42 --no-shrink --generation-unique-inputs --generation-deterministic --phases examples,fuzzing --url https://api.yelp.com/v3'
recorded_with: 'Schemathesis 4.5.4'
seed: 42
http_interactions:
- id: 'ppHE2H'
  status: 'SUCCESS'
  generation:
    time: 0.007814011536538601
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:25:30.297849+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_headers_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_schema_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'negative_data_rejection'
      status: 'SUCCESS'
      message: ~
    - name: 'positive_data_acceptance'
      status: 'SUCCESS'
      message: ~
    - name: 'missing_required_header'
      status: 'SUCCESS'
      message: ~
    - name: 'unsupported_method'
      status: 'SUCCESS'
      message: ~
    - name: 'use_after_free'
      status: 'SUCCESS'
      message: ~
    - name: 'ensure_resource_availability'
      status: 'SUCCESS'
      message: ~
    - name: 'ignored_auth'
      status: 'SUCCESS'
      message: ~

  request:
    uri: 'https://api.yelp.com/v3/businesses/search'
    method: 'GET'
    headers:
      "Authorization":
      - "[Filtered]"
      "X-Schemathesis-TestCaseId":
      - "ppHE2H"

  response:
    status:
      code: '400'
      message: "Bad Request"
    elapsed: '0.315968'
    headers:
      "content-type":
      - "application/json"
      "x-routing-service":
      - "routing-main--useast1-679fdcbd8b-78ddq; site=public_api_v3"
      "x-zipkin-id":
      - "7d8fde7ee6fd8b9c30852ba7110a8e6d"
      "x-mode":
      - "ro"
      "x-proxied":
      - "10-65-124-171-useast1aprod"
      "x-extlb":
      - "10-65-124-171-useast1aprod"

    body:
      encoding: 'utf-8'
      string: "{\"error\": {\"code\": \"VALIDATION_ERROR\", \"description\": \"Please specify a location or a latitude and longitude\"}}"
- id: 'Gq1ICP'
  status: 'SUCCESS'
  generation:
    time: 0.04034330416470766
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:25:30.770657+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
- id: 'eKWtzQ'
  status: 'SUCCESS'
  generation:
    time: 0.06255030911415815
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:25:31.184564+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
- id: 'B5zOBf'
  status: 'SUCCESS'
  generation:
    time: 0.0013883896172046661
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:25:31.709831+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: '2OCBtN'
  status: 'SUCCESS'
  generation:
    time: 0.022221199236810207
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:25:32.164759+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'S4HOjy'
  status: 'SUCCESS'
  generation:
    time: 0.03304193075746298
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:25:32.877820+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
- id: 'CogRjH'
  status: 'SUCCESS'
  generation:
    time: 0.0010256171226501465
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:25:33.485552+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'BnuWpJ'
  status: 'SUCCESS'
  generation:
    time: 0.03232606779783964
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:25:34.048486+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
- id: '5AA4bx'
  status: 'SUCCESS'
  generation:
    time: 0.02732704672962427
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:25:34.217338+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
- id: '1Z7ROn'
  status: 'FAILURE'
  generation:
    time: 0.03363748174160719
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:25:34.573618+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
      message: 'Undocumented Content-Type'
    - name: 'response_headers_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_schema_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'negative_data_rejection'
      status: 'SUCCESS'
      message: ~
    - name: 'positive_data_acceptance'
      status: 'SUCCESS'
      message: ~
    - name: 'missing_required_header'
      status: 'SUCCESS'
      message: ~
    - name: 'unsupported_method'
      status: 'SUCCESS'
      message: ~
    - name: 'use_after_free'
      status: 'SUCCESS'
      message: ~
    - name: 'ensure_resource_availability'
      status: 'SUCCESS'
      message: ~
    - name: 'ignored_auth'
      status: 'SUCCESS'
      message: ~

  request:
    uri: 'https://api.yelp.com/v3/businesses/search?limit=15&sort_by=rating&%C3%8E%3D%C2%84=&attributes='
    method: 'GET'
    headers:
      "yS94'DL":
      - "\u00f3"
      "mg":
      - ""
      "Q":
      - "\u00ee\u0017\u000e<\u008e"
      "f~CLAEbXu_":
      - "\u0017\u0017\u0016V\u00ac\u00ad\u008c\u00c3\u008fem"
      "y":
      - "\u00e9"
      "rIiL":
      - "n\u00b0\u00d4\u00d7\u0007"
      "Authorization":
      - "[Filtered]"
      "X-Schemathesis-TestCaseId":
      - "1Z7ROn"

  response:
    status:
      code: '400'
      message: "Bad Request"
    elapsed: '0.001874'
    headers:
      "content-type":
      - "text/plain; charset=utf-8"

    body:
      encoding: 'utf-8'
      string: "Bad Request"
- id: 'zmczdD'
  status: 'FAILURE'
  generation:
    time: 0.07086286041885614
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:26:30.047706+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
 [...]
[...]
- id: 'Mr18mv'
  status: 'FAILURE'
  generation:
    time: 0.08736372459679842
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:26:30.901511+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
      message: 'Undocumented Content-Type'
    - name: 'response_headers_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_schema_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'negative_data_rejection'
      status: 'SUCCESS'
      message: ~
    - name: 'positive_data_acceptance'
      status: 'SUCCESS'
      message: ~
    - name: 'missing_required_header'
      status: 'SUCCESS'
      message: ~
    - name: 'unsupported_method'
      status: 'SUCCESS'
      message: ~
    - name: 'use_after_free'
      status: 'SUCCESS'
      message: ~
    - name: 'ensure_resource_availability'
      status: 'SUCCESS'
      message: ~
    - name: 'ignored_auth'
      status: 'SUCCESS'
      message: ~

  request:
    uri: 'https://api.yelp.com/v3/businesses/search?%F3%BA%80%90=%C2%A2%C2%9C%F2%BB%8B%AE%04q%C2%8D&%F3%BA%80%90=%01%F2%90%8F%8E&%F3%BA%80%90=%01g&radius=-8'
    method: 'GET'
    headers:
      "oF":
      - "i\u0090\u00d5\u009c"
      "wj":
      - "!"
      "~^ES!-_5":
      - "\u00c0K(\u00f0"
      "OD5":
      - "\u00c7"
      "po6g":
      - "\u00ed"
      "G~&aV$":
      - "k\u00e4\u000e"
      "vP-G":
      - ""
      "&!zetfr`7K":
      - "?\u000f\u008c\u00d2\u009f"
      "wq.6":
      - ""
      "Authorization":
      - "[Filtered]"
      "X-Schemathesis-TestCaseId":
      - "Mr18mv"

  response:
    status:
      code: '400'
      message: "Bad Request"
    elapsed: '0.01057'
    headers:
      "content-type":
      - "text/plain; charset=utf-8"

    body:
      encoding: 'utf-8'
      string: "Bad Request"
- id: 'WSVxra'
  status: 'FAILURE'
  generation:
    time: 0.04188383277505636
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:26:31.388964+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
 [...]
- id: 'dCbCSv'
  status: 'SUCCESS'
  generation:
    time: 0.005223510786890984
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:26:32.173668+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: '5vqIeU'
  status: 'FAILURE'
  generation:
    time: 0.04901365377008915
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:26:32.550487+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
 [...]
[...]
- id: 'hsnxs7'
  status: 'FAILURE'
  generation:
    time: 0.02943631261587143
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:26:33.780493+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
 [...]
- id: 'x7ZWvw'
  status: 'SUCCESS'
  generation:
    time: 0.0031013907864689827
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:26:34.614555+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'SMzsYF'
  status: 'FAILURE'
  generation:
    time: 0.0031013907864689827
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:26:34.770807+00:00'
  checks:
    - name: 'ignored_auth'
      status: 'FAILURE'
      message: 'API accepts requests without authentication'

  request:
    uri: 'https://api.yelp.com/v3/businesses/search?limit=40&latitude=-1.3330110579375685&longitude=-1.401298464324817e-45&price=2%2C1&radius=38141&attributes=&device_platform=mobile-generic'
    method: 'GET'
    headers:
      "X-Schemathesis-TestCaseId":
      - "SMzsYF"

  response:
    status:
      code: '400'
      message: "Bad Request"
    elapsed: '0.150698'
    headers:
      "content-type":
      - "application/json"
      "x-routing-service":
      - "routing-main--useast1-679fdcbd8b-4z4wg; site=public_api_v3"
      "x-zipkin-id":
      - "a054b6b3e212b660fd7029a4ba5685f1"
      "x-mode":
      - "ro"
      "x-proxied":
      - "10-65-79-18-useast1aprod"
      "x-extlb":
      - "10-65-79-18-useast1aprod"

    body:
      encoding: 'utf-8'
      string: "{\"error\": {\"code\": \"VALIDATION_ERROR\", \"description\": \"Authorization is a required parameter.\", \"field\": \"Authorization\", \"instance\": null}}"
- id: 'Eu9Ono'
  status: 'SUCCESS'
  generation:
    time: 0.007350492291152477
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:27:30.210149+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'KzWNNP'
  status: 'SUCCESS'
  generation:
    time: 0.0059094512835145
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:27:30.656047+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
  [...]
- id: '2zcjT4'
  status: 'SUCCESS'
  generation:
    time: 0.005970924161374569
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:27:31.061341+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'wfHccg'
  status: 'SUCCESS'
  generation:
    time: 0.009752954356372356
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:27:31.540804+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
[...]
- id: 'c0XS5N'
  status: 'SUCCESS'
  generation:
    time: 0.000865682028234005
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:27:32.733570+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'iCjThQ'
  status: 'FAILURE'
  generation:
    time: 0.027767357416450977
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:27:33.245598+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
[...]
- id: '9UirKT'
  status: 'FAILURE'
  generation:
    time: 0.016679679043591022
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:27:33.831427+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
[...]
- id: 'LZ0Uil'
  status: 'FAILURE'
  generation:
    time: 0.021395995281636715
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:27:34.199059+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
[...]
[...]
- id: 'semt9l'
  status: 'SUCCESS'
  generation:
    time: 0.012336354702711105
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:28:30.311524+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'yAXkmx'
  status: 'FAILURE'
  generation:
    time: 0.052499787881970406
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:28:30.617389+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
[...]
- id: 'yQzwSk'
  status: 'FAILURE'
  generation:
    time: 0.04808018356561661
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:28:31.005461+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
 [...]
- id: '3SM8kf'
  status: 'FAILURE'
  generation:
    time: 0.04750446882098913
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:28:31.502282+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
 [...]
- id: 'G14L8Z'
  status: 'FAILURE'
  generation:
    time: 0.0471286429092288
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:28:31.932852+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
  [...]
- id: 'QMTwuj'
  status: 'FAILURE'
  generation:
    time: 0.10714574623852968
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:28:32.652254+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
 [...]
- id: '6iHVBi'
  status: 'SUCCESS'
  generation:
    time: 0.003684897907078266
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:28:33.698254+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'XftQvk'
  status: 'FAILURE'
  generation:
    time: 0.04232061840593815
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:28:33.877209+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
 [...]
- id: '0bppPe'
  status: 'FAILURE'
  generation:
    time: 0.030552255921065807
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:28:34.248026+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
[...]
- id: '0M6L6g'
  status: 'FAILURE'
  generation:
    time: 0.02557016722857952
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:28:34.729483+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'FAILURE'
      message: 'Undocumented Content-Type'
    - name: 'response_headers_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_schema_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'negative_data_rejection'
      status: 'SUCCESS'
      message: ~
    - name: 'positive_data_acceptance'
      status: 'SUCCESS'
      message: ~
    - name: 'missing_required_header'
      status: 'SUCCESS'
      message: ~
    - name: 'unsupported_method'
      status: 'SUCCESS'
      message: ~
    - name: 'use_after_free'
      status: 'SUCCESS'
      message: ~
    - name: 'ensure_resource_availability'
      status: 'SUCCESS'
      message: ~
    - name: 'ignored_auth'
      status: 'SUCCESS'
      message: ~

  request:
    uri: 'https://api.yelp.com/v3/businesses/search?sort_by='
    method: 'GET'
    headers:
      "jh|CoxsfaM":
      - "false"
      "'..hLX":
      - ""
      "Qq35":
      - "1\u00d4&\u00f4\u00bdP\u000f"
      "FgB":
      - "M"
      "S&%q9'":
      - "true"
      "4":
      - "\u0098\u00f3(V+\u0012\u00a4"
      "Authorization":
      - "[Filtered]"
      "X-Schemathesis-TestCaseId":
      - "0M6L6g"

  response:
    status:
      code: '400'
      message: "Bad Request"
    elapsed: '0.009085'
    headers:
      "content-type":
      - "text/plain; charset=utf-8"

    body:
      encoding: 'utf-8'
      string: "Bad Request"
[...]
- id: 'Pk1p3u'
  status: 'SUCCESS'
  generation:
    time: 0.04650212358683348
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:29:30.811225+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
- id: 'AbxQIe'
  status: 'SUCCESS'
  generation:
    time: 0.005796580575406551
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:29:31.155950+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: '0G8PQT'
  status: 'SUCCESS'
  generation:
    time: 0.006244412623345852
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:29:31.666189+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'fxinbH'
  status: 'SUCCESS'
  generation:
    time: 0.003664093092083931
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:29:32.082899+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: '3uGGsI'
  status: 'SUCCESS'
  generation:
    time: 0.0038299942389130592
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:29:33.009895+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'Gx8UHJ'
  status: 'SUCCESS'
  generation:
    time: 0.006525394506752491
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:29:33.462232+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'VrF5Zr'
  status: 'SUCCESS'
  generation:
    time: 0.004029647447168827
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:29:34.038836+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'A0Zp1J'
  status: 'SUCCESS'
  generation:
    time: 0.005234570242464542
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:29:34.412301+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'RNjt9A'
  status: 'SUCCESS'
  generation:
    time: 0.0021203281357884407
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T22:29:35.123273+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
[...]
