command: 'st run /app/processedSpecs/ohsome/get-elements.yaml --checks all --continue-on-failure --rate-limit 10/m --report junit,har,vcr --report-dir /app/expScripts/schemathesis-unique-reports/Ohsome/getElementsAggregation --output-truncate false --max-examples 1000 --seed 42 --no-shrink --generation-unique-inputs --generation-deterministic --phases examples,fuzzing --url https://api.ohsome.org/v1'
recorded_with: 'Schemathesis 4.6.1'
seed: 42
http_interactions:
- id: 'gXiq4k'
  status: 'FAILURE'
  generation:
    time: 0.009133020415902138
    mode: positive
  components:
    query:
      mode: 'positive'
    path:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T04:52:32.351026+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_headers_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_schema_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'negative_data_rejection'
      status: 'SUCCESS'
      message: ~
    - name: 'positive_data_acceptance'
      status: 'FAILURE'
      message: 'API rejected schema-compliant request'
    - name: 'missing_required_header'
      status: 'SUCCESS'
      message: ~
    - name: 'unsupported_method'
      status: 'SUCCESS'
      message: ~
    - name: 'use_after_free'
      status: 'SUCCESS'
      message: ~
    - name: 'ensure_resource_availability'
      status: 'SUCCESS'
      message: ~
    - name: 'ignored_auth'
      status: 'SUCCESS'
      message: ~

  request:
    uri: 'https://api.ohsome.org/v1/elements/area?timeout=0'
    method: 'GET'
    headers:
      "X-Schemathesis-TestCaseId":
      - "gXiq4k"

  response:
    status:
      code: '400'
      message: ""
    elapsed: '0.065463'
    headers:
      "content-type":
      - "application/json"

    body:
      encoding: 'utf-8'
      string: "{\n  \"timestamp\" : \"2025-12-29T04:52:32.346806766\",\n  \"status\" : 400,\n  \"message\" : \"You need to define one of the boundary parameters (bboxes, bcircles, bpolys).\",\n  \"requestUrl\" : \"https://api.ohsome.org/v1/elements/area?timeout=0\"\n}"
[...]
