command: 'st run /home/ubuntu/exp/services/httpmutator-benchmark/processedSpecs/dhl/get-location.yaml --checks all --continue-on-failure --rate-limit 20/m --report junit,har,vcr --report-dir /home/ubuntu/exp/services/httpmutator-benchmark/expScripts/schemathesis-unique-reports/DHL/getFindByAddress --output-truncate false --max-examples 1000 --seed 42 --no-shrink --generation-unique-inputs --generation-deterministic --phases examples,fuzzing --url https://api.dhl.com'
recorded_with: 'Schemathesis 4.5.4'
seed: 42
http_interactions:
- id: 'GXx3vi'
  status: 'SUCCESS'
  generation:
    time: 0.014929830096662045
    mode: positive
  components:
    header:
      mode: 'positive'
  phase:
    name: 'examples'
    data: {}
  recorded_at: '2025-12-29T23:57:15.855991+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_headers_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_schema_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'negative_data_rejection'
      status: 'SUCCESS'
      message: ~
    - name: 'positive_data_acceptance'
      status: 'SUCCESS'
      message: ~
    - name: 'missing_required_header'
      status: 'SUCCESS'
      message: ~
    - name: 'unsupported_method'
      status: 'SUCCESS'
      message: ~
    - name: 'use_after_free'
      status: 'SUCCESS'
      message: ~
    - name: 'ensure_resource_availability'
      status: 'SUCCESS'
      message: ~
    - name: 'ignored_auth'
      status: 'SUCCESS'
      message: ~

  request:
    uri: 'https://api.dhl.com/location-finder/v1/find-by-address?countryCode=DE&addressLocality=Bonn&postalCode=53113&streetAddress=Charles-de-Gaulle-Str.+20&radius=2500&limit=20&currentDate=24-01-2023'
    method: 'GET'
    headers:
      "DHL-API-Key":
      - "[Filtered]"
      "X-Schemathesis-TestCaseId":
      - "GXx3vi"

  response:
    status:
      code: '200'
      message: "OK"
    elapsed: '0.082441'
    headers:
      "content-type":
      - "application/json"
      "correlation-id":
      - "f2193ed4-774b-4033-a200-bd9eab54e6fc"

    body:
      encoding: 'utf-8'
      string: "{\"locations\":[{\"url\":\"/locations/FRACF8\",\"location\":{\"ids\":[{\"locationId\":\"FRACF8\",\"provider\":\"express\"}],\"keyword\":\"\",\"keywordId\":\"\",\"type\":\"locker\"},\"name\":\"DHL Packstation 144\",\"distance\":19,\"place\":{\"address\":{\"countryCode\":\"DE\",\"postalCode\":\"64521\",\"addressLocality\":\"GROSS-GERAU\",\"streetAddress\":\"Wilhelm-Seipp-Str. 2\"},\"geo\":{\"latitude\":50.715956,\"longitude\":7.1300139}},\"openingHours\":[{\"opens\":\"00:00:00\",\"closes\":\"23:59:00\",\"dayOfWeek\":\"http://schema.org/Monday\"},{\"opens\":\"00:00:00\",\"closes\":\"23:59:00\",\"dayOfWeek\":\"http://schema.org/Tuesday\"},{\"opens\":\"00:00:00\",\"closes\":\"23:59:00\",\"dayOfWeek\":\"http://schema.org/Wednesday\"},{\"opens\":\"00:00:00\",\"closes\":\"23:59:00\",\"dayOfWeek\":\"http://schema.org/Thursday\"},{\"opens\":\"00:00:00\",\"closes\":\"23:59:00\",\"dayOfWeek\":\"http://schema.org/Friday\"},{\"opens\":\"00:00:00\",\"closes\":\"23:59:00\",\"dayOfWeek\":\"http://schema.org/Saturday\"},{\"opens\":\"00:00:00\",\"closes\":\"23:59:00\",\"dayOfWeek\":\"http://schema.org/Sunday\"},{\"opens\":\"00:00:00\",\"closes\":\"23:59:00\",\"dayOfWeek\":\"http://schema.org/PublicHolidays\"}],\"closurePeriods\":[],\"serviceTypes\":[\"express:pick-up\"],\"averageCapacityDayOfWeek\":[]},{\"url\":\"/locations/8003-4008202\",\"location\":{\"ids\":[{\"locationId\":\"8003-4008202\",\"provider\":\"parcel\"},{\"locationId\":\"CGN293\",\"provider\":\"express\"}],\"keyword\":\"Postfiliale\",\"keywordId\":\"502\",\"type\":\"postoffice\"},\"name\":\"Postfiliale 502\",\"distance\":30,\"place\":{\"address\":{\"countryCode\":\"DE\",\"postalCode\":\"53113\",\"addressLocality\":\"Bonn\",\"streetAddress\":\"Charles-de-Gaulle-Str. 20\"},\"geo\":{\"latitude\":50.71601,\"longitude\":7.129804}[...]
- id: 'd1sQw3'
  status: 'SKIP'
  generation:
    time: 0.014929830096662045
    mode: negative
  components:
    header:
      mode: 'negative'
  phase:
    name: 'examples'
    data: {}
  recorded_at: '2025-12-29T23:57:15.956504+00:00'
  checks: []
  request:
    uri: 'https://api.dhl.com/location-finder/v1/find-by-address?countryCode=DE&addressLocality=Bonn&postalCode=53113&streetAddress=Charles-de-Gaulle-Str.+20&radius=2500&limit=20&currentDate=24-01-2023'
    method: 'GET'
    headers:
      "X-Schemathesis-TestCaseId":
      - "d1sQw3"

  response:
    status:
      code: '401'
      message: "Unauthorized"
    elapsed: '0.01809'
    headers:
      "content-type":
      - "application/problem+json"
      "correlation-id":
      - "1af2c299-1507-4f07-9380-5708b50060c6"
      "content-language":
      - "en"

    body:
      encoding: 'utf8'
      string: "{\"status\":401,\"title\":\"Unauthorized\",\"detail\":\"Access to the resource is not allowed.\"}"
[...]
- id: 'S8h54E'
  status: 'SUCCESS'
  generation:
    time: 0.00460684671998024
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:16.173898+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_headers_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_[...]
- id: '0mzB9R'
  status: 'SUCCESS'
  generation:
    time: 0.0009608501568436623
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:16.338691+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: '5PEHdk'
  status: 'FAILURE'
  generation:
    time: 0.0007145153358578682
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:16.368809+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_confor[...]
- id: 'O0J4xW'
  status: 'SUCCESS'
  generation:
    time: 0.0007037585601210594
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:16.510053+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: '7eZ6kC'
  status: 'SUCCESS'
  generation:
    time: 0.0009851166978478432
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:16.592246+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'U7h1SV'
  status: 'FAILURE'
  generation:
    time: 0.0017715347930788994
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:16.658101+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_confor[...]
- id: 'CzvsL4'
  status: 'SUCCESS'
  generation:
    time: 0.0012074252590537071
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:16.827309+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'vvLiCP'
  status: 'SUCCESS'
  generation:
    time: 0.001124766655266285
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:16.872850+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'kW25Ug'
  status: 'SUCCESS'
  generation:
    time: 0.0007183840498328209
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:16.965310+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'kw0XXJ'
  status: 'SUCCESS'
  generation:
    time: 0.0011024419218301773
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:17.156281+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'QTtNIX'
  status: 'SUCCESS'
  generation:
    time: 0.03214292507618666
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:17.461001+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
- id: '3dxkNI'
  status: 'FAILURE'
  generation:
    time: 0.03103998862206936
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:17.553144+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conforma[...]
- id: '5nEx6V'
  status: 'SUCCESS'
  generation:
    time: 0.03314018156379461
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:17.666329+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
- id: 'SYfy6R'
  status: 'SUCCESS'
  generation:
    time: 0.042181448079645634
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:17.754720+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: '6kcV9G'
  status: 'FAILURE'
  generation:
    time: 0.017648239620029926
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:17.795470+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conform[...]
- id: 'tpLi2S'
  status: 'FAILURE'
  generation:
    time: 0.01681662630289793
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:17.908469+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conforma[...]
- id: 'qaAr9K'
  status: 'SUCCESS'
  generation:
    time: 0.016858848743140697
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:57:17.988711+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'RHZMzK'
  status: 'SUCCESS'
  generation:
    time: 0.005185087211430073
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:16.071404+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'ueRanl'
  status: 'SUCCESS'
  generation:
    time: 0.00534056406468153
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:16.144616+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
- id: 'ppoYSL'
  status: 'SUCCESS'
  generation:
    time: 0.004800465889275074
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:16.200514+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'sdB0IQ'
  status: 'SUCCESS'
  generation:
    time: 0.004951281473040581
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:16.261462+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'Gv7Xmz'
  status: 'SUCCESS'
  generation:
    time: 0.002876289188861847
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:16.382954+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'mv1yaZ'
  status: 'SUCCESS'
  generation:
    time: 0.0009850533679127693
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:16.433864+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'xmWAZ8'
  status: 'SUCCESS'
  generation:
    time: 0.0041402000933885574
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:16.545554+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'GwazrX'
  status: 'SUCCESS'
  generation:
    time: 0.00351913645863533
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:16.593005+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
[...]
- id: '9xDJ5a'
  status: 'SUCCESS'
  generation:
    time: 0.0026922160759568214
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:16.882524+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
[...]
- id: 'woaSv1'
  status: 'SUCCESS'
  generation:
    time: 0.002180563285946846
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:16.981009+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'Mi8Spx'
  status: 'SUCCESS'
  generation:
    time: 0.08366610389202833
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:17.202271+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
- id: 'spabU7'
  status: 'SUCCESS'
  generation:
    time: 0.019913277588784695
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:17.516599+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'wYeNbL'
  status: 'SUCCESS'
  generation:
    time: 0.016510581597685814
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:17.566370+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'BKZpIR'
  status: 'SUCCESS'
  generation:
    time: 0.0013603847473859787
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:17.677639+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'Zux1gg'
  status: 'SUCCESS'
  generation:
    time: 0.0008717868477106094
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:17.793563+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'MUY4Ez'
  status: 'SUCCESS'
  generation:
    time: 0.008869299665093422
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:18.037303+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: '5qGKM6'
  status: 'SUCCESS'
  generation:
    time: 0.019875948317348957
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:18.163198+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'PvpZ8Y'
  status: 'SUCCESS'
  generation:
    time: 0.01961047202348709
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:58:18.226997+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
- id: 'uy6W6F'
  status: 'SUCCESS'
  generation:
    time: 0.004538431763648987
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:15.922512+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'S8CfkW'
  status: 'SUCCESS'
  generation:
    time: 0.0047738151624798775
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:16.275269+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'UnLUNl'
  status: 'SUCCESS'
  generation:
    time: 0.00486253947019577
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:16.316761+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
- id: 'auTHd1'
  status: 'SUCCESS'
  generation:
    time: 0.0019232351332902908
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:16.358000+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'NAglX7'
  status: 'SUCCESS'
  generation:
    time: 0.005162988789379597
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:16.393987+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'gaVKRe'
  status: 'SUCCESS'
  generation:
    time: 0.004895761609077454
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:16.436392+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'm74RfE'
  status: 'FAILURE'
  generation:
    time: 0.002043553628027439
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:16.587106+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conform[...]
- id: 'wHgU44'
  status: 'SUCCESS'
  generation:
    time: 0.0016801496967673302
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:16.622245+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: '9fBQNM'
  status: 'SUCCESS'
  generation:
    time: 0.0011072074994444847
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:16.764121+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'X13uy8'
  status: 'SUCCESS'
  generation:
    time: 0.02900829818099737
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:16.882386+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
 [...]
- id: 'kgFNJl'
  status: 'SUCCESS'
  generation:
    time: 0.026336072012782097
    mode: negative
  components:
    query:
      mode: 'negative'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:16.939091+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
[...]
- id: 'IlJ0Zq'
  status: 'SUCCESS'
  generation:
    time: 0.0010041408240795135
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:16.998008+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'TNJ8Vr'
  status: 'SUCCESS'
  generation:
    time: 0.0014587482437491417
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:17.240867+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'[...]
- id: 'y0qOy4'
  status: 'SUCCESS'
  generation:
    time: 0.009641921147704124
    mode: negative
  components:
    query:
      mode: 'positive'
    header:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T23:59:17.569861+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
[...]
