openapi: 3.0.1
info:
  title: DHL Location Finder API
  version: 1.13.0
  description: The DHL Location Finder API provides Service Point locations of Deutsche
    Post DHL Group. This service is also known as pick up and drop off (PUDO). Detailed
    documentation and release notes are available [here](https://developer.dhl.com/api-reference/location-finder).
tags:
  - name: locations
    description: Retrieve information about DHL Service Point locations
servers:
  - url: https://api.dhl.com
    description: Production Server
security:
  - ApiKeyAuth: [ ]
paths:
  /location-finder/v1/find-by-address:
    get:
      tags:
        - locations
      summary: Search for DHL Service Point locations by address.
      description: 'This method will find DHL locations based on an address by first
        converting the address to a reference point (latitude, longitude) and then
        finding locations near that point. To convert an address to a reference point,
        this API uses the ``Google Geocoding API Address``. To optimize results, besides
        ``countryCode`` you need to provide ``addressLocality`` and /or ``postalCode``.
        The more address fields you provide, the better results you may get.  Please
        read Google Geocoding API Terms of Use: <https://cloud.google.com/maps-platform/terms>  ``Limitations:``
        Address fields are not filters. 3rd party Geocoding API hence limited control
        over results.'
      operationId: getLocation-finderV1Find-by-address
      parameters:
        - name: countryCode
          in: query
          description: A two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
            code specifying the [country](https://gs1.org/voc/Country).
          required: true
          schema:
            type: string
          example: DE
        - name: addressLocality
          in: query
          description: Text specifying the name of the [locality](https://gs1.org/voc/addressLocality),
            for example a city.
          required: false
          schema:
            type: string
          example: Bonn
        - name: postalCode
          in: query
          description: Text specifying the postal [code](https://gs1.org/voc/postalCode)
            for an address.
          required: false
          schema:
            type: string
          example: 53113
        - name: streetAddress
          in: query
          description: The street address is expressed as free form text. The  [street
            address](https://www.gs1.org/voc/streetAddress) is printed on paper as the
            first lines below the name. For example, the name of the street and the
            number in the street, or the name of a building.
          required: false
          schema:
            type: string
          example: Charles-de-Gaulle-Str. 20
        - name: providerType
          in: query
          description: 'This parameter allows to filter by DPDHL''s internal Business
          Units. When this parameter is specified at least once per request, only
          locations known by that providerType (a.k.a Business Unit) will be returned.
          There may be locations with more than one providerType. The available providerTypes
          are: ``express`` (DHL Express Global), ``parcel`` (eCommerce Solutions Europe
          and Post & Parcel Germany).'
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ExternalProviderType'
        - name: locationType
          in: query
          description: Type of the DHL Service Point location. This parameter can be
            added multiple times in each API request. The response will include only
            locations of the type that matches any of the requested ones.
          required: false
          schema:
#            type: array
#            items:
#              $ref: '#/components/schemas/LocationType'
             type: string
        - name: serviceType
          in: query
          description: Each location can offer more than one service. This parameter
            can be added multiple times in each API request. The response will include
            only locations with at least all of the serviceTypes requested. Only exception
            of this behaviour is parcel:pick-up-all, which includes any of the three
            parcel:pick-up services. Note that this cannot be combined with any other
            serviceType param.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ServiceType'
        - name: radius
          in: query
          description: 'Specifies the radius in meters around the provided location,
          to search within. Maximum radius: 1 000 000 meters (any radius greater than  1
          000 000 will be considered as 1 000 000). Default radius: 5000 meters.'
          required: false
          schema:
            default: 5000
            type: number
            minimum: 0
          example: 2500
        - name: limit
          in: query
          description: 'Number specifying the maximum amount of locations included in
          the results. Maximum limit: 50 locations (any limit greater than 50 will
          be considered as 50). Default limit: 15 locations.'
          required: false
          schema:
            default: 15
            type: number
            minimum: 0
          example: 20
        - name: hideClosedLocations
          in: query
          description: When set to true this parameter allows to exclude locations that
            have a closure period entry at the time of the request. By default it is
            set to false and all locations are returned, whether they are showing closed
            or not.
          required: false
          schema:
            default: false
            type: boolean
        - name: currentDate
          in: query
          description: When any date is specified in this parameter then the api will
            exclude locations that have a closure period entry at the time of the specified
            date. Note:- currentDate will work only when parameter hideClosedLocations
            is set to true.
          required: false
          schema:
            type: string
            format: date
          example: 24-01-2023
      responses:
        '200':
          description: DHL Service Point location collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations'
        '400':
          description: Bad request, for example invalid geo position, location type,
            service type or country.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                status: 400
                title: Unknown Service Type
                detail: Provided serviceType xyz is not known.
        '401':
          description: Unauthorized. Provided key is invalid for requested resource.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                status: 401
                title: Unauthorized
                detail: Invalid token
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
              example:
                status: 500
                title: Internal Server Error.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: DHL-API-Key
  schemas:
    BadRequest:
      title: BadRequest
      type: object
      required:
        - status
        - title
        - detail
      properties:
        status:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
    ExternalProviderType:
      title: ExternalProviderType
      type: string
      enum:
        - express
        - parcel
    InternalError:
      title: InternalError
      type: object
      required:
        - status
        - title
      properties:
        status:
          type: integer
          format: int32
        title:
          type: string
    Location:
      title: Location
      type: object
      required:
        - keyword
        - keywordId
        - type
      properties:
        ids:
          description: One location can be known within different business units (providerTypes).
            They will be known under a unique ID within each business unit domain,
            as provided.
          type: array
          items:
            $ref: '#/components/schemas/referenceLocation'
        keyword:
          description: Address to put on a label, to send a shipment to a service
            point or locker for pick up / drop off. For German locations, keyword
            and keywordId are placed as street name and house number, streetAddress
            is omitted on the label of a shipment. For locations outside of Germany,
            keyword and keywordId are placed in addition to streetAddress.
          type: string
        keywordId:
          description: Id belonging to keyword that together with the keywordId build
            up the streetAddress for direct addressing to a service point or locker
            for pick up / drop off.
          example:
            - 502
          type: string
        type:
          description: Type of the DHL Service Point location.
          example:
            - postoffice
          type: string
        leanLocker:
          description: Lean lockers can be operated by app, only. There is no keyboard
            available.
          example:
            - true
          type: boolean
        dfLocker:
          description: DeinFach lockers are part of the DHL partner network, operated
            by AZL GmbH. These lockers have a gray coloring.
          example:
            - true
          type: boolean
    LocationType:
      title: LocationType
      type: string
      enum:
        - servicepoint
        - locker
        - postoffice
        - postbank
        - pobox
        - postbox
    NotFound:
      title: NotFound
      type: object
      required:
        - status
        - title
        - detail
      properties:
        status:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
    ServiceType:
      title: ServiceType
      type: string
      enum:
        - parcel:pick-up-all
        - parcel:drop-off-all
        - age-verification
        - cash-on-delivery
        - cash-service
        - express:drop-off
        - express:drop-off-account
        - express:drop-off-easy
        - express:drop-off-prelabeled
        - express:drop-off-unlabeled
        - express:pick-up
        - franking
        - handicapped-access
        - letter-service
        - packaging-material
        - parcel:drop-off
        - parcel:drop-off-firstmile
        - parcel:drop-off-firstmile-unlabeled
        - parcel:drop-off-return
        - parcel:drop-off-return-unlabeled
        - parcel:drop-off-unlabeled
        - parcel:drop-off-unregistered
        - parcel:pick-up
        - parcel:pick-up-registered
        - parcel:pick-up-unregistered
        - parking
        - postbank
        - postident
    Unauthorized:
      title: Unauthorized
      type: object
      required:
        - status
        - title
        - detail
      properties:
        status:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
    address:
      title: address
      example:
        - countryCode: DE
          postalCode: '53113'
          addressLocality: Bonn
          streetAddress: Charles-de-Gaulle-Str. 20
      type: object
      required:
        - countryCode
        - postalCode
        - addressLocality
        - streetAddress
      properties:
        countryCode:
          title: CountryCode
          description: A short text string code (ISO 3166-1 alpha-2 country code)
            specifying the country.
          example:
            - DE
          type: string
        postalCode:
          title: PostalCode
          description: Text specifying the postal code for an address. https://gs1.org/voc/postalCode
          example:
            - 53113
          type: string
        addressLocality:
          title: AddressLocality
          description: Text specifying the name of the locality, for example a city.
            https://gs1.org/voc/addressLocality
          example:
            - Bonn
          type: string
        streetAddress:
          title: StreetAddress
          description: The street address expressed as free form text. The street
            address is printed on paper as the first lines below the name. For example,
            the name of the street and the number in the street or the name of a building.
            https://www.gs1.org/voc/streetAddress
          example:
            - Charles-de-Gaulle-Str. 20
          type: string
    averageCapacityDayOfWeek:
      title: averageCapacityDayOfWeek
      type: object
      required:
        - dayOfWeek
        - capacity
      properties:
        dayOfWeek:
          description: The day of the week as defined at https://schema.org/DayOfWeek
          type: string
        capacity:
          title: Capacity
          description: Information on the average availability of locker capacity
            (only available in Germany).
          example:
            - high
          type: string
    closurePeriod:
      title: closurePeriod
      description: Periods where the DHL Service Point location is closed in the addition
        to opening hours.
      type: object
      required:
        - type
        - fromDate
        - toDate
      properties:
        type:
          description: Reason for the closure
          example:
            - holiday
          type: string
        fromDate:
          description: A date value in ISO 8601 format (`2017-06-21`) or a combination
            of date and time of day (`2017-06-21T14:07:17Z`) (see Chapter 5.4 of ISO
            8601).
          example:
            - '2018-03-02T07:53:47Z'
          type: string
        toDate:
          description: A date value in ISO 8601 format (`2017-06-21`) or a combination
            of date and time of day (`2017-06-21T14:07:17Z`) (see Chapter 5.4 of ISO
            8601).
          example:
            - '2018-03-02T07:53:47Z'
          type: string
    containedInPlace:
      title: containedInPlace
      description: Description of the building/facility etc. this service point is
        located within
      type: object
      required:
        - name
      properties:
        name:
          example:
            - Lidl Markt
          type: string
    geo:
      title: geo
      description: The geo coordinates of the DHL Service Point location.
      example:
        - latitude: 50.71601
          longitude: 7.129804
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          description: Latitude
          type: number
          format: double
        longitude:
          description: Longitude
          type: number
          format: double
    location:
      title: Location
      example:
        - url: /locations/8003-4008202
          location:
            ids:
              - locationId: 8003-4008202
                provider: parcel
            keyword: Postfiliale
            keywordId: '502'
            type: postoffice
            leanLocker: false
            dfLocker: false
          name: Postfiliale 502
          distance: 255
          place:
            address:
              countryCode: DE
              postalCode: '53113'
              addressLocality: Bonn
              streetAddress: Charles-de-Gaulle-Str. 20
            geo:
              latitude: 50.71601
              longitude: 7.129804
          openingHours:
            - opens: 08:00:00
              closes: '17:00:00'
              dayOfWeek: https://schema.org/Monday
            - opens: 08:00:00
              closes: '17:00:00'
              dayOfWeek: https://schema.org/Tuesday
            - opens: 08:00:00
              closes: '17:00:00'
              dayOfWeek: https://schema.org/Wednesday
            - opens: 08:00:00
              closes: '17:00:00'
              dayOfWeek: https://schema.org/Thursday
            - opens: 08:00:00
              closes: '17:00:00'
              dayOfWeek: https://schema.org/Friday
            - opens: '10:00:00'
              closes: '12:00:00'
              dayOfWeek: https://schema.org/Saturday
          closurePeriods: []
          serviceTypes:
            - parcel:pick-up
            - parcel:drop-off-unlabeled
            - postident
            - express:drop-off-easy
            - parcel:drop-off-firstmile-unlabeled
            - parcel:drop-off-firstmile
            - express:drop-off
            - parcel:drop-off-return-unlabeled
            - parcel:drop-off-return
            - express:drop-off-account
            - cash-on-delivery
            - express:drop-off-unlabeled
            - express:drop-off-prelabeled
            - parcel:drop-off
            - parking
            - age-verification
            - express:pick-up
            - letter-service
          averageCapacityDayOfWeek: []
      type: object
      required:
        - url
        - location
        - name
        - place
      properties:
        url:
          description: The `self` link relation - globally unique identifier of this
            DHL Service Point location.
          example:
            - /locations/8003-4008202
          type: string
        location:
          $ref: '#/components/schemas/Location'
        name:
          description: Name of the DHL Service Point location.
          type: string
        distance:
          description: Distance in meters (m) from the requested geographical coordinates.
          type: integer
          format: int64
        place:
          $ref: '#/components/schemas/place'
        openingHours:
          description: List of the opening hours of the DHL Service Point location.
            http://supermodel.io/schemaorg/OpeningHoursSpecification.
          type: array
          items:
            $ref: '#/components/schemas/openingHours'
        closurePeriods:
          description: Periods where the DHL Service Point location is closed in the
            addition to opening hours.
          type: array
          items:
            $ref: '#/components/schemas/closurePeriod'
        serviceTypes:
          description: "The list of services available at the DHL Service Point location.\n\
            \ - express:drop-off-all - Includes any of the parcel:drop-off services.\
            \ This can be used as a meta query parameter. It will not be part of the\
            \ API response.\n - express:drop-off - Consumers can drop off DHL Express\
            \ shipments. This applies to first mile.\n - express:drop-off-account\
            \ - Consumers with a DHL Express account but without shipment label can\
            \ drop off DHL Express shipment.\n - express:drop-off-easy - Consumers\
            \ without a DHL Express account (new customer) can drop off DHL Express\
            \ shipment.\n - express:drop-off-prelabeled - Consumers with a DHL Express\
            \ account can drop off a DHL Express shipment which label has been created\
            \ by using an online shipment manifest creation tool. The shipment can\
            \ also be a return shipment.\n - express:drop-off-unlabeled - Location\
            \ that offers unlabeled drop-off for DHL Express shipments. This service\
            \ is also known as label-free, label-less or QR code drop-off.\n - express:pick-up\
            \ - Consumers can pick up DHL Express shipments. This applies to last\
            \ mile.\n - parcel:drop-off-all - Includes locations that offer any of\
            \ the parcel:drop-off services. This can be used as a meta-query parameter.\
            \ The service type \"parcel:drop-off-all\" will not be part of the API\
            \ response.\n - parcel:drop-off - Deprecated. Please use \"serviceType=parcel:drop-off-firstmile\"\
            \ to find locations that support parcel drop-off.\n - parcel:drop-off-unlabeled\
            \ - Deprecated. Please use \"serviceType=parcel: drop-off-firstmile-unlabeled\"\
            , or \"serviceType=parcel:drop-off-return-unlabeled\" according to the\
            \ need.\n - parcel:drop-off-unregistered - Deprecated. Please use \"serviceType=parcel:drop-off-firstmile\"\
            \ to find locations that support parcel drop-off.\n - parcel:drop-off-firstmile\
            \ - Locations that offer first-mile drop-off of labeled regular DHL Parcel\
            \ shipments (not returns/reverse). For return shipments, please refer\
            \ to parcel:drop-off-return services.\n - parcel:drop-off-firstmile-unlabeled\
            \ - Locations that offer first-mile drop-off of unlabeled DHL Parcel shipments\
            \ (not returns/reverse). This service is also known as label-free, label-less,\
            \ or QR code drop-off. For return shipments, please refer to parcel:drop-off-return\
            \ services.\n - parcel:drop-off-return - Locations that offer regular\
            \ labeled return drop-off of DHL Parcel shipments (not first mile/initial\
            \ drop-off of a new shipment).\n - parcel:drop-off-return-unlabeled -\
            \ Locations that offer unlabeled return drop-off of DHL Parcel shipments\
            \ (not first mile/initial drop-off of a new shipment). This service is\
            \ also known as label-free, label-less, or QR code drop-off.\n - parcel:pick-up-all\
            \ - Includes any of the parcel:pick-up services. This can be used as a\
            \ meta-query parameter. The service type \"parcel:pick-up-all\" will not\
            \ be part of the API response.\n - parcel:pick-up - Deprecated. Please\
            \ use the other parcel:pick-up service options  according to the need.\n\
            \ - parcel:pick-up-registered - Locations that offer pick-up of DHL Parcel\
            \ shipments only for registered users. This Service Type is relevant only\
            \ to Germany. All of these locations are packstations/lockers.\n - parcel:pick-up-unregistered\
            \ - Locations that offer pick-up of DHL Parcel shipments for any user\
            \ in the supported European countries.\n - age-verification - Reliable\
            \ verification of the customers age. This service is commonly used to\
            \ verify that the consumer has reached a specific age for an online offering\
            \ (e.g. 14 or 18 years).\n - cash-on-delivery - Offering of \\\"cash on\
            \ delivery\\\". A shipment is only handed over to the recipient against\
            \ payment.\n - cash-service - Cash service is offered via cash or card\
            \ payment service. In Germany Giro, Maestro, Postcard and cash payment\
            \ is supported.\n - franking - Offering of labels for franking. This does\
            \ not include the product \\\"Mobile Paketmarke\\\".\n - handicapped-access\
            \ - Disabled fair access. - parking - Parking area close by.\n - letter-service\
            \ - Letter services are offered (e.g. Post Office offering).\n - packaging-material\
            \ - Offering for packing material such as packages for parcels, envelopes\
            \ for letters, paper, pencils, pens.\n - postbank - Offering of services\
            \ of the German financial institution Deutsche Postbank AG, a subsidiary\
            \ of Deutsche Bank AG. The individual offering can be looked up at Deutsche\
            \ Postbank AG.\n - postident - Postident is a service to reliably verify\
            \ the identity of a consumer. This service is commonly used for online\
            \ bank account identity verification.\n - NOTE - All deprecated services\
            \ can still be used, but we encourage to re-configure your systems to\
            \ the new recommended ones.\n "
          type: array
          uniqueItems: true
          items:
            type: string
        availableCapacity:
          title: Capacity
          description: Information on the average availability of locker capacity
            (only available in Germany).
          example:
            - high
          type: string
        averageCapacityDayOfWeek:
          description: Indicates the average capacity of the parcel locker on the
            listed day. If this information is not available, only an aggregated average
            capacity indication based on the last weeks will be provided as availableCapacity.
          type: array
          items:
            $ref: '#/components/schemas/averageCapacityDayOfWeek'
    locations:
      title: Locations
      type: object
      properties:
        locations:
          title: Location
          description: DHL Service Point location collection
          example:
            - - url: /locations/8003-4008202
                location:
                  ids:
                    - locationId: 8003-4008202
                      provider: parcel
                  keyword: Postfiliale
                  keywordId: '502'
                  type: postoffice
                  leanLocker: false
                  dfLocker: false
                name: Postfiliale 502
                distance: 255
                place:
                  address:
                    countryCode: DE
                    postalCode: '53113'
                    addressLocality: Bonn
                    streetAddress: Charles-de-Gaulle-Str. 20
                  geo:
                    latitude: 50.71601
                    longitude: 7.129804
                openingHours:
                  - opens: 08:00:00
                    closes: '17:00:00'
                    dayOfWeek: https://schema.org/Monday
                  - opens: 08:00:00
                    closes: '17:00:00'
                    dayOfWeek: https://schema.org/Tuesday
                  - opens: 08:00:00
                    closes: '17:00:00'
                    dayOfWeek: https://schema.org/Wednesday
                  - opens: 08:00:00
                    closes: '17:00:00'
                    dayOfWeek: https://schema.org/Thursday
                  - opens: 08:00:00
                    closes: '17:00:00'
                    dayOfWeek: https://schema.org/Friday
                  - opens: '10:00:00'
                    closes: '12:00:00'
                    dayOfWeek: https://schema.org/Saturday
                closurePeriods: []
                serviceTypes:
                  - parcel:pick-up
                  - parcel:drop-off-unlabeled
                  - postident
                  - express:drop-off-easy
                  - parcel:drop-off-firstmile-unlabeled
                  - parcel:drop-off-firstmile
                  - express:drop-off
                  - parcel:drop-off-return-unlabeled
                  - parcel:drop-off-return
                  - express:drop-off-account
                  - cash-on-delivery
                  - express:drop-off-unlabeled
                  - express:drop-off-prelabeled
                  - parcel:drop-off
                  - parking
                  - age-verification
                  - express:pick-up
                  - letter-service
                averageCapacityDayOfWeek: []
              - url: /locations/8007-420095227
                location:
                  ids:
                    - locationId: 8007-420095227
                      provider: parcel
                  keyword: DHL Packstation
                  keywordId: '227'
                  type: locker
                name: DHL Packstation 227
                distance: 473
                place:
                  address:
                    countryCode: DE
                    postalCode: '20095'
                    addressLocality: Hamburg
                    streetAddress: Ballindamm 40
                  geo:
                    latitude: 53.5516856
                    longitude: 9.9952905
                openingHours:
                  - opens: 08:00:00
                    closes: '17:00:00'
                    dayOfWeek: https://schema.org/Monday
                  - opens: 08:00:00
                    closes: '17:00:00'
                    dayOfWeek: https://schema.org/Tuesday
                  - opens: 08:00:00
                    closes: '17:00:00'
                    dayOfWeek: https://schema.org/Wednesday
                  - opens: 08:00:00
                    closes: '17:00:00'
                    dayOfWeek: https://schema.org/Thursday
                  - opens: 08:00:00
                    closes: '17:00:00'
                    dayOfWeek: https://schema.org/Friday
                  - opens: 08:00:00
                    closes: '17:00:00'
                    dayOfWeek: https://schema.org/Saturday
                  - opens: 08:00:00
                    closes: '17:00:00'
                    dayOfWeek: https://schema.org/Sunday
                closurePeriods: []
                serviceTypes:
                  - parcel:drop-off-unregistered
                  - parcel:pick-up-registered
                averageCapacityDayOfWeek:
                  - dayOfWeek: Monday
                    capacity: very-low
                  - dayOfWeek: Tuesday
                    capacity: low
                  - dayOfWeek: Wednesday
                    capacity: high
                  - dayOfWeek: Thursday
                    capacity: high
                  - dayOfWeek: Friday
                    capacity: low
                  - dayOfWeek: Saturday
                    capacity: very-low
                  - dayOfWeek: Sunday
                    capacity: very-low
          type: array
          items:
            $ref: '#/components/schemas/location'
    openingHours:
      title: openingHours
      description: List of the opening hours of the DHL Service Point location. http://supermodel.io/schemaorg/OpeningHoursSpecification.
      type: object
      required:
        - opens
        - closes
        - dayOfWeek
      properties:
        opens:
          title: Opens
          description: The opening hour of the place or service on the given day(s)
            of the week.
          type: string
        closes:
          title: Closes
          description: The closing hour of the place or service on the given day(s)
            of the week.
          type: string
        dayOfWeek:
          title: DayOfWeek
          description: The day of the week, e.g. used to specify to which day the
            opening hours of an OpeningHoursSpecification refer.<br/><br/> Originally,
            URLs from <a href=\"http://purl.org/goodrelations/v1\">GoodRelations</a>
            were used (for <a class=\"localLink\" href=\"http://schema.org/Monday\">Monday</a>,
            <a class=\"localLink\" href=\"http://schema.org/Tuesday\">Tuesday</a>,
            <a class=\"localLink\" href=\"http://schema.org/Wednesday\">Wednesday</a>,
            <a class=\"localLink\" href=\"http://schema.org/Thursday\">Thursday</a>,
            <a class=\"localLink\" href=\"http://schema.org/Friday\">Friday</a>, <a
            class=\"localLink\" href=\"http://schema.org/Saturday\">Saturday</a>,
            <a class=\"localLink\" href=\"http://schema.org/Sunday\">Sunday</a> plus
            a special entry for <a class=\"localLink\" href=\"http://schema.org/PublicHolidays\">PublicHolidays</a>);
            these have now been integrated directly into schema.org.
          type: string
    place:
      title: Place
      type: object
      required:
        - address
        - geo
      properties:
        address:
          $ref: '#/components/schemas/address'
        geo:
          $ref: '#/components/schemas/geo'
        containedInPlace:
          $ref: '#/components/schemas/containedInPlace'
    referenceLocation:
      title: referenceLocation
      type: object
      required:
        - locationId
        - provider
      properties:
        locationId:
          description: The ID as how the location is know within this business unit
            / provider.
          example:
            - 8003-4008202
          type: string
        provider:
          description: The business unit of the DHL Service Point location.
          example:
            - parcel
          type: string
