command: 'st run /app/processedSpecs/stripe/post-products.yaml --checks all --continue-on-failure --rate-limit 60/m --report junit,har,vcr --report-dir /app/expScripts/schemathesis-unique-reports/Stripe/postV1Products --output-truncate false --max-examples 1000 --seed 42 --no-shrink --generation-unique-inputs --generation-deterministic --phases examples,fuzzing --url https://api.stripe.com --header Authorization:Bearer sk_test_51SZb9aFp2AHz8iajQSy5t7xOhu59Z10TCzHc8p8sqGVod04osKiqOodKtKT0ALsZpYaJ3N544esaxS8M9VL8R5oX00NUvJDUo1'
recorded_with: 'Schemathesis 4.6.1'
seed: 42
http_interactions:
- id: 'mbBmHu'
  status: 'FAILURE'
  generation:
    time: 0.009125922806560993
    mode: positive
  components:
    body:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-28T13:15:31.920451+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_headers_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_schema_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'negative_data_rejection'
      status: 'SUCCESS'
      message: ~
    - name: 'positive_data_acceptance'
      status: 'FAILURE'
      message: 'API rejected schema-compliant request'
    - name: 'missing_required_header'
      status: 'SUCCESS'
      message: ~
    - name: 'unsupported_method'
      status: 'SUCCESS'
      message: ~
    - name: 'use_after_free'
      status: 'SUCCESS'
      message: ~
    - name: 'ensure_resource_availability'
      status: 'SUCCESS'
      message: ~
    - name: 'ignored_auth'
      status: 'SUCCESS'
      message: ~

  request:
    uri: 'https://api.stripe.com/v1/products'
    method: 'POST'
    headers:
      "Authorization":
      - "[Filtered]"
      "X-Schemathesis-TestCaseId":
      - "mbBmHu"
      "Content-Type":
      - "application/x-www-form-urlencoded"

    body:
      encoding: 'utf-8'
      string: "name="
  response:
    status:
      code: '400'
      message: "Bad Request"
    elapsed: '0.282267'
    headers:
      "content-type":
      - "application/json"
      "idempotency-key":
      - "[Filtered]"
      "original-request":
      - "req_5PIHRJqxISCOqv"
      "stripe-version":
      - "2024-12-18.acacia"
      "x-wc":
      - "ABGHIJ"

    body:
      encoding: 'utf-8'
      string: "{\n  \"error\": {\n    \"code\": \"parameter_invalid_empty\",\n    \"doc_url\": \"https://stripe.com/docs/error-codes/parameter-invalid-empty\",\n    \"message\": \"You passed an empty string for 'name'. We assume empty values are an attempt to unset a parameter; however 'name' cannot be unset. You should remove 'name' from your request or supply a non-empty value.\",\n    \"param\": \"name\",\n    \"request_log_url\": \"https://dashboard.stripe.com/test/logs/req_5PIHRJqxISCOqv?t=1766927731\",\n    \"type\": \"invalid_request_error\"\n  }\n}\n"
[...]
- id: 'S9zW95'
  status: 'SKIP'
  generation:
    time: 0.006148659624159336
    mode: positive
  components:
    body:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-28T13:15:34.069589+00:00'
  checks: []
  request:
    uri: 'https://api.stripe.com/v1/products'
    method: 'POST'
    headers:
      "X-Schemathesis-TestCaseId":
      - "S9zW95"
      "Content-Type":
      - "application/x-www-form-urlencoded"

    body:
      encoding: 'utf-8'
      string: "name=N%F3%88%9D%95%C3%A8%C3%B9M%C2%A0%0A_%F1%B8%BF%8A~%F0%AA%A2%9B%C2%A1"
  response:
    status:
      code: '401'
      message: "Unauthorized"
    elapsed: '0.148426'
    headers:
      "content-type":
      - "application/json"
      "www-authenticate":
      - "[Filtered]"
      "x-wc":
      - "ABHIJ"

    body:
      encoding: 'utf-8'
      string: "{\n  \"error\": {\n    \"message\": \"You did not provide an API key. You need to provide your API key in the Authorization header, using Bearer auth (e.g. 'Authorization: Bearer YOUR_SECRET_KEY'). See https://stripe.com/docs/api#authentication for details, or we can help at https://support.stripe.com/.\",\n    \"type\": \"invalid_request_error\"\n  }\n}\n"
[...]
