command: 'st run /app/processedSpecs/ITunes/get-search.yaml --checks all --continue-on-failure --rate-limit 10/m --report junit,har,vcr --report-dir /app/expScripts/schemathesis-unique-reports/iTunes/getSearch --output-truncate false --max-examples 1000 --seed 42 --no-shrink --generation-unique-inputs --generation-deterministic --phases examples,fuzzing --url https://itunes.apple.com'
recorded_with: 'Schemathesis 4.6.1'
seed: 42
http_interactions:
- id: 'rrdLec'
  status: 'SUCCESS'
  generation:
    time: 0.005238201469182968
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'examples'
    data: {}
  recorded_at: '2025-12-29T06:27:09.062896+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_headers_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_schema_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'negative_data_rejection'
      status: 'SUCCESS'
      message: ~
    - name: 'positive_data_acceptance'
      status: 'SUCCESS'
      message: ~
    - name: 'missing_required_header'
      status: 'SUCCESS'
      message: ~
    - name: 'unsupported_method'
      status: 'SUCCESS'
      message: ~
    - name: 'use_after_free'
      status: 'SUCCESS'
      message: ~
    - name: 'ensure_resource_availability'
      status: 'SUCCESS'
      message: ~
    - name: 'ignored_auth'
      status: 'SUCCESS'
      message: ~

  request:
    uri: 'https://itunes.apple.com/search?country=US&media=music&limit=25&lang=en_us&explicit=True&term='
    method: 'GET'
    headers:
      "X-Schemathesis-TestCaseId":
      - "rrdLec"

  response:
    status:
      code: '200'
      message: "OK"
    elapsed: '0.193699'
    headers:
      "content-type":
      - "text/javascript; charset=utf-8"
      "x-apple-jingle-correlation-key":
      - "[Filtered]"
      "x-apple-request-uuid":
      - "7facf698-2366-62d7-199c-340ff1134bfb"
      "x-apple-translated-wo-url":
      - "/WebObjects/MZStoreServices.woa/ws/wsSearch?country=US&media=music&limit=25&lang=en_us&explicit=True&term=&urlDesc="
      "apple-tk":
      - "false"
      "b3":
      - "7facf698236662d7199c340ff1134bfb-47999b88f8ee881f"
      "x-webobjects-loadaverage":
      - "0"
      "x-responding-instance":
      - "MZStoreServices:6001447:::"
      "apple-seq":
      - "0.0"
      "content-disposition":
      - "attachment; filename=1.txt"
      "apple-originating-system":
      - "MZStoreServices"
      "x-apple-orig-url":
      - "https://mzstoreservices-st.itunes.apple.com/search?country=US&media=music&limit=25&lang=en_us&explicit=True&term="
      "x-apple-application-site":
      - "ST11"
      "apple-timing-app":
      - "28 ms"
      "x-apple-application-instance":
      - "6001447"
      "x-daiquiri-instance":
      - "daiquiri:47317005:st44p00it-hyhk16054701:7987:25HOTFIX33:daiquiri-amp-store-shared-int-001-st"
      - "daiquiri:42282006:st53p00it-qujn15040502:7987:25HOTFIX33:daiquiri-amp-store-l7shared-ext-001-st"
      "x-true-cache-key":
      - "[Filtered]"
      "x-apple-partner":
      - "origin.0"

    body:
      encoding: 'utf-8'
      string: "\n\n\n{\n \"resultCount\":0,\n \"results\": []\n}\n\n\n"
- id: 'BfrJGB'
  status: 'FAILURE'
  generation:
    time: 0.00406845286488533
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:27:09.405409+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'gxvUEE'
  status: 'FAILURE'
  generation:
    time: 0.017701328732073307
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:27:09.689420+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: '9FD6p5'
  status: 'SUCCESS'
  generation:
    time: 0.04029003903269768
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:27:09.850817+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'icKvnG'
  status: 'FAILURE'
  generation:
    time: 0.0022665103897452354
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:27:09.992091+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: '5vcZOS'
  status: 'FAILURE'
  generation:
    time: 0.0024111438542604446
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:27:10.174080+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'WRY3dD'
  status: 'FAILURE'
  generation:
    time: 0.002421056851744652
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:27:10.344766+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'sRLWZy'
  status: 'FAILURE'
  generation:
    time: 0.0025873221457004547
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:27:10.462135+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'v4Uhdv'
  status: 'FAILURE'
  generation:
    time: 0.003117240034043789
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:27:10.582579+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'GXmTwz'
  status: 'FAILURE'
  generation:
    time: 0.016566120088100433
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:27:10.743492+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'foz8mC'
  status: 'FAILURE'
  generation:
    time: 0.015673857182264328
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:28:09.120400+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'j8PJH8'
  status: 'FAILURE'
  generation:
    time: 0.0023747384548187256
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:28:09.453812+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'DbQtds'
  status: 'FAILURE'
  generation:
    time: 0.0033664945513010025
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:28:09.650738+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'sfCkcO'
  status: 'FAILURE'
  generation:
    time: 0.002337539568543434
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:28:09.900810+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'uEV26U'
  status: 'FAILURE'
  generation:
    time: 0.002094687893986702
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:28:10.106520+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'H267dq'
  status: 'FAILURE'
  generation:
    time: 0.0029679015278816223
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:28:10.227048+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'lzTKEy'
  status: 'FAILURE'
  generation:
    time: 0.002551470883190632
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:28:10.347069+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'nW0g0S'
  status: 'FAILURE'
  generation:
    time: 0.001999998465180397
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:28:10.531539+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'pfchOj'
  status: 'FAILURE'
  generation:
    time: 0.0022542355582118034
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:28:10.652424+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'pZOmu4'
  status: 'FAILURE'
  generation:
    time: 0.002755708061158657
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:28:10.831518+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'Vnch8v'
  status: 'FAILURE'
  generation:
    time: 0.002075641416013241
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:29:09.081708+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'KPbGat'
  status: 'FAILURE'
  generation:
    time: 0.0024654557928442955
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:29:09.458852+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'XAtoNb'
  status: 'FAILURE'
  generation:
    time: 0.002074482850730419
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:29:09.772135+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'lWf7aN'
  status: 'SUCCESS'
  generation:
    time: 0.015446330420672894
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:29:09.926297+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'P0dIiF'
  status: 'FAILURE'
  generation:
    time: 0.00738910585641861
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:29:10.222497+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: '8O14Rb'
  status: 'FAILURE'
  generation:
    time: 0.008672013878822327
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:29:10.437480+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'NGTWyz'
  status: 'FAILURE'
  generation:
    time: 0.04085500817745924
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:29:10.633951+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'FZdzWv'
  status: 'FAILURE'
  generation:
    time: 0.015086168423295021
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:29:10.982206+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'ziaNRJ'
  status: 'FAILURE'
  generation:
    time: 0.013311699964106083
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:29:11.175416+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'H35RmW'
  status: 'FAILURE'
  generation:
    time: 0.012347699142992496
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:29:11.351036+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'UDBy09'
  status: 'SUCCESS'
  generation:
    time: 0.013035832904279232
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:30:09.136476+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'rqKl0L'
  status: 'SUCCESS'
  generation:
    time: 0.004456339403986931
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:30:09.510355+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'hbGN5A'
  status: 'SUCCESS'
  generation:
    time: 0.0027598757296800613
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:30:09.816211+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'H25bus'
  status: 'FAILURE'
  generation:
    time: 0.0021519362926483154
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:30:09.960432+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'a1s4lf'
  status: 'FAILURE'
  generation:
    time: 0.002620859071612358
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:30:10.129796+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'YKxWw5'
  status: 'FAILURE'
  generation:
    time: 0.0025545423850417137
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:30:10.458320+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'bI2L6f'
  status: 'FAILURE'
  generation:
    time: 0.002332487143576145
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:30:10.727387+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'YPJmxO'
  status: 'FAILURE'
  generation:
    time: 0.002341954968869686
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:30:10.906711+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'jGoSbI'
  status: 'FAILURE'
  generation:
    time: 0.0023628054186701775
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:30:11.246170+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'IMXBQl'
  status: 'FAILURE'
  generation:
    time: 0.0020603500306606293
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:30:11.427375+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'HBdo4s'
  status: 'SUCCESS'
  generation:
    time: 0.005654116161167622
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:31:09.184541+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'Zmarbs'
  status: 'SUCCESS'
  generation:
    time: 0.006014576181769371
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:31:09.558218+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'gHiAnn'
  status: 'SUCCESS'
  generation:
    time: 0.004883568733930588
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:31:11.285092+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'VqxphW'
  status: 'FAILURE'
  generation:
    time: 0.003569304011762142
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:31:11.436931+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'reT4wd'
  status: 'FAILURE'
  generation:
    time: 0.0036618420854210854
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:31:11.903311+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'MUly8W'
  status: 'FAILURE'
  generation:
    time: 0.0032795369625091553
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:31:12.046428+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'MWucfJ'
  status: 'FAILURE'
  generation:
    time: 0.0033403392881155014
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:31:12.216478+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'F4Ej4F'
  status: 'FAILURE'
  generation:
    time: 0.003207848407328129
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:31:12.388538+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'W07qPd'
  status: 'FAILURE'
  generation:
    time: 0.0030771298334002495
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:31:12.558508+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'pmfITd'
  status: 'SUCCESS'
  generation:
    time: 0.0037503503262996674
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:31:12.720250+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'qEEMBn'
  status: 'FAILURE'
  generation:
    time: 0.07740622572600842
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:32:09.849751+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'zOYi7J'
  status: 'FAILURE'
  generation:
    time: 0.01038935873657465
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:32:10.897634+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'XdiCKG'
  status: 'SUCCESS'
  generation:
    time: 0.007065300829708576
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:32:11.067866+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'ouMuRv'
  status: 'FAILURE'
  generation:
    time: 0.006956573575735092
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T06:32:11.558306+00:00'
  checks:
[...]
