command: 'st run /app/processedSpecs/amadeus/get-hotelOffers.yaml --checks all --continue-on-failure --rate-limit 100/m --report junit,har,vcr --report-dir /app/expScripts/schemathesis-unique-reports/AmadeusHotel/getHotelOffers --output-truncate false --max-examples 1000 --seed 42 --no-shrink --generation-unique-inputs --generation-deterministic --phases examples,fuzzing --url https://test.api.amadeus.com/v3'
recorded_with: 'Schemathesis 4.6.1'
seed: 42
http_interactions:
- id: 'XABu4L'
  status: 'SUCCESS'
  generation:
    time: 0.005462429486215115
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'examples'
    data: {}
  recorded_at: '2025-12-29T02:41:16.151845+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_headers_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'response_schema_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'negative_data_rejection'
      status: 'SUCCESS'
      message: ~
    - name: 'positive_data_acceptance'
      status: 'SUCCESS'
      message: ~
    - name: 'missing_required_header'
      status: 'SUCCESS'
      message: ~
    - name: 'unsupported_method'
      status: 'SUCCESS'
      message: ~
    - name: 'use_after_free'
      status: 'SUCCESS'
      message: ~
    - name: 'ensure_resource_availability'
      status: 'SUCCESS'
      message: ~
    - name: 'ignored_auth'
      status: 'SUCCESS'
      message: ~

  request:
    uri: 'https://test.api.amadeus.com/v3/shopping/hotel-offers?hotelIds=MCLONGHM&adults=1'
    method: 'GET'
    headers:
      "Authorization":
      - "[Filtered]"
      "X-Schemathesis-TestCaseId":
      - "XABu4L"

  response:
    status:
      code: '200'
      message: "OK"
    elapsed: '1.232623'
    headers:
      "content-type":
      - "application/vnd.amadeus+json"
      "ama-request-id":
      - "0001VJDJQ80FGR"
      "ama-gateway-request-id":
      - "rrt-0643941a93edefc96-b-de-3073835-517633588-1"

    body:
      encoding: 'utf8'
      string: "{\"data\":[{\"type\":\"hotel-offers\",\"hotel\":{\"type\":\"hotel\",\"hotelId\":\"MCLONGHM\",\"chainCode\":\"MC\",\"dupeId\":\"700031300\",\"name\":\"JW Marriott Grosvenor House London\",\"cityCode\":\"LON\",\"latitude\":51.50988,\"longitude\":-0.15509},\"available\":true,\"offers\":[{\"id\":\"HKSZEY9FHD\",\"checkInDate\":\"2025-12-29\",\"checkOutDate\":\"2025-12-30\",\"rateCode\":\"RAC\",\"room\":{\"type\":\"REG\",\"typeEstimated\":{\"beds\":1,\"bedType\":\"QUEEN\"},\"description\":{\"text\":\"Flexible Rate\\nQueen, 20sqm/215sqft-29sqm/312sqft, Wireless\\ninternet, for a fee, Wired internet, for a\",\"lang\":\"EN\"}},\"guests\":{\"adults\":1},\"price\":{\"currency\":\"GBP\",\"base\":\"815.00\",\"total\":\"855.75\",\"variations\":{\"average\":{\"base\":\"815.00\"},\"changes\":[{\"startDate\":\"2025-12-29\",\"endDate\":\"2025-12-30\",\"base\":\"815.00\"}]}},\"policies\":{\"cancellations\":[{\"numberOfNights\":1,\"deadline\":\"2025-12-28T23:59:00+00:00\",\"amount\":\"815.00\",\"policyType\":\"CANCELLATION\"}],\"paymentType\":\"guarantee\",\"refundable\":{\"cancellationRefund\":\"REFUNDABLE_UP_TO_DEADLINE\"}},\"self\":\"https://test.api.amadeus.com/v3/shopping/hotel-offers/HKSZEY9FHD\",\"roomInformation\":{\"description\":\"Flexible Rate\\nQueen, 20sqm/215sqft-29sqm/312sqft, Wireless\\ninternet, for a fee, Wired internet, for a\",\"type\":\"REG\",\"typeEstimated\":{\"bedType\":\"QUEEN\",\"beds\":1}}}],\"self\":\"https://test.api.amadeus.com/v3/shopping/hotel-offers?hotelIds=MCLONGHM&adults=1\"}]}"
- id: 'WOOd2D'
  status: 'FAILURE'
  generation:
    time: 0.0058578504249453545
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:16.653007+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'resp[...]
- id: 'yWEJIw'
  status: 'SUCCESS'
  generation:
    time: 0.027879360131919384
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:17.025246+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'ZF9Pjq'
  status: 'SUCCESS'
  generation:
    time: 0.027123485691845417
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:17.436349+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
[...]
- id: 'aTjinJ'
  status: 'FAILURE'
  generation:
    time: 0.004346887581050396
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:17.836798+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
[...]
- id: 'QqGIBA'
  status: 'FAILURE'
  generation:
    time: 0.009528153575956821
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:18.607248+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: '5yMjTz'
  status: 'SUCCESS'
  generation:
    time: 0.021725788712501526
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:19.001182+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'MfFBDf'
  status: 'SUCCESS'
  generation:
    time: 0.026563825085759163
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:19.229288+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
[...]
- id: 'q6YLAR'
  status: 'FAILURE'
  generation:
    time: 0.042489382438361645
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:20.060102+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'ZgVnhV'
  status: 'FAILURE'
  generation:
    time: 0.005053089931607246
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:20.389280+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'UrSwgV'
  status: 'FAILURE'
  generation:
    time: 0.004694250412285328
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:21.004751+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: '0C3Ocf'
  status: 'FAILURE'
  generation:
    time: 0.004626608453691006
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:21.111477+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conformance'
      status: 'SUCCESS'
     [...]
- id: 'sV0ksB'
  status: 'FAILURE'
  generation:
    time: 0.004528772085905075
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:21.400907+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'j2EnV9'
  status: 'FAILURE'
  generation:
    time: 0.004491062834858894
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:21.596647+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'JYdhii'
  status: 'FAILURE'
  generation:
    time: 0.004617415368556976
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:21.906943+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'EYCYWX'
  status: 'FAILURE'
  generation:
    time: 0.011363060213625431
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:22.162826+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conformance'
      status: 'SUCCESS'
     [...]
[...]
- id: 'KCK97a'
  status: 'FAILURE'
  generation:
    time: 0.012871073558926582
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:23.096516+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'n2pNjj'
  status: 'FAILURE'
  generation:
    time: 0.008372616954147816
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:23.357255+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'DGy5qd'
  status: 'FAILURE'
  generation:
    time: 0.006328378804028034
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:23.449231+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conformance'
      status: 'SUCCESS'
     [...]
- id: 'TioOmr'
  status: 'FAILURE'
  generation:
    time: 0.00643985066562891
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:23.775346+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
[...]
- id: '2Rdhdu'
  status: 'FAILURE'
  generation:
    time: 0.007021810859441757
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:24.279857+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'XPtZez'
  status: 'FAILURE'
  generation:
    time: 0.00650441087782383
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:24.388359+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      [...]
- id: 'LPKEBq'
  status: 'FAILURE'
  generation:
    time: 0.006149693392217159
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:24.683938+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'zM2CbW'
  status: 'FAILURE'
  generation:
    time: 0.004929102957248688
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:24.881580+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'SxZbA4'
  status: 'FAILURE'
  generation:
    time: 0.004524371586740017
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:25.092116+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'zTDnjU'
  status: 'FAILURE'
  generation:
    time: 0.00452775415033102
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:25.355471+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: '6Gg7qm'
  status: 'FAILURE'
  generation:
    time: 0.004272846505045891
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:25.452962+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conformance'
      status: 'SUCCESS'
     [...]
- id: 'bGL9XI'
  status: 'FAILURE'
  generation:
    time: 0.008605788461863995
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:25.650763+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conformance'
      status: 'SUCCESS'
     [...]
- id: 'ElOgpb'
  status: 'SUCCESS'
  generation:
    time: 0.008003689348697662
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:25.812339+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'wOJ9wV'
  status: 'SUCCESS'
  generation:
    time: 0.006958073005080223
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:25.975176+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
[...]
- id: 'qKxpwd'
  status: 'FAILURE'
  generation:
    time: 0.005728197284042835
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:26.510897+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conformance'
      status: 'SUCCESS'
     [...]
[...]
- id: '148GDY'
  status: 'SUCCESS'
  generation:
    time: 0.03273490257561207
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:27.116774+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: '1CeKDg'
  status: 'SUCCESS'
  generation:
    time: 0.015301885083317757
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:27.359911+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'U3xCGu'
  status: 'SUCCESS'
  generation:
    time: 0.015171158127486706
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:27.689573+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'hadJUU'
  status: 'FAILURE'
  generation:
    time: 0.05523140914738178
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:27.847168+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      [...]
- id: 'F0NMRx'
  status: 'SUCCESS'
  generation:
    time: 0.016061299480497837
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:28.116368+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: '9Plco3'
  status: 'SUCCESS'
  generation:
    time: 0.009559721685945988
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:28.369194+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'HbBc6l'
  status: 'SUCCESS'
  generation:
    time: 0.03699925076216459
    mode: negative
  components:
    query:
      mode: 'negative'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:28.776592+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'nU98NY'
  status: 'FAILURE'
  generation:
    time: 0.016785274259746075
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:28.999551+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'X1yuoU'
  status: 'FAILURE'
  generation:
    time: 0.013609694316983223
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:29.245174+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'rHi52u'
  status: 'FAILURE'
  generation:
    time: 0.013948226347565651
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:29.533827+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'o091hh'
  status: 'FAILURE'
  generation:
    time: 0.014454679563641548
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:29.752283+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: '4TL97M'
  status: 'FAILURE'
  generation:
    time: 0.014140445739030838
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:29.855313+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conformance'
      status: 'SUCCESS'
     [...]
- id: 'DlXre7'
  status: 'FAILURE'
  generation:
    time: 0.014808940701186657
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:30.457880+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'xiqltm'
  status: 'FAILURE'
  generation:
    time: 0.008940237574279308
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:30.670985+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: '6rEkJ6'
  status: 'FAILURE'
  generation:
    time: 0.009017201140522957
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:30.883378+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
[...]
- id: 'FI4y81'
  status: 'FAILURE'
  generation:
    time: 0.007824231870472431
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:31.730896+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'o4FBVi'
  status: 'FAILURE'
  generation:
    time: 0.00790926069021225
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:31.935451+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respon[...]
- id: 'KlIRkk'
  status: 'FAILURE'
  generation:
    time: 0.005704126320779324
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:32.205184+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: 'a3En6f'
  status: 'FAILURE'
  generation:
    time: 0.013696876354515553
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:32.306308+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'FAILURE'
      message: 'Undocumented HTTP status code'
    - name: 'content_type_conformance'
      status: 'SUCCESS'
     [...]
- id: 'p9yX1X'
  status: 'FAILURE'
  generation:
    time: 0.012448587454855442
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:32.625050+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: '6229f9'
  status: 'FAILURE'
  generation:
    time: 0.013688502833247185
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:32.845156+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'content_type_conformance'
      status: 'SUCCESS'
      message: ~
    - name: 'respo[...]
- id: '6ojKLU'
  status: 'FAILURE'
  generation:
    time: 0.006588706746697426
    mode: positive
  components:
    query:
      mode: 'positive'
  phase:
    name: 'fuzzing'
    data: {}
  recorded_at: '2025-12-29T02:41:33.138203+00:00'
  checks:
    - name: 'not_a_server_error'
      status: 'SUCCESS'
      message: ~
    - name: 'status_code_conformance'
      status: 'SUCCESS'
[...]
