openapi: 3.0.0
info:
  title: Places API Foursquare
  version: 1.0.0
  description: The Places API offers real-time access to Foursquare’s global database of rich venue data and user content.
servers:
  - url: https://places-api.foursquare.com
tags:
  - name: Places
    description: Foursquare places
components:
  schemas:
    FsqPlaceLite:
      type: object
      additionalProperties: false
      properties:
        fsq_place_id: { type: string }
        name: { type: string }
        latitude: { type: number, nullable: true }
        longitude: { type: number, nullable: true }
        categories:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              fsq_category_id: { type: string }
              name: { type: string }
              short_name: { type: string }
              plural_name: { type: string }
              icon:
                type: object
                additionalProperties: false
                properties:
                  id: { type: string }
                  created_at: { type: string, format: date-time }
                  prefix: { type: string }
                  suffix: { type: string }
                  width: { type: integer }
                  height: { type: integer }
                  classifications:
                    type: array
                    items: { type: string }
                  tip:
                    type: object
                    additionalProperties: false
                    properties:
                      id: { type: string }
                      created_at: { type: string, format: date-time }
                      text: { type: string }
                      url: { type: string }
                      lang: { type: string }
                      agree_count: { type: integer }
                      disagree_count: { type: integer }
        chains:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              fsq_chain_id: { type: string }
              name: { type: string }
              parent_id: { type: string, nullable: true }
              logo:
                type: object
                additionalProperties: false
                properties:
                  id: { type: string }
                  created_at: { type: string, format: date-time }
                  prefix: { type: string }
                  suffix: { type: string }
                  width: { type: integer }
                  height: { type: integer }
                  classifications:
                    type: array
                    items: { type: string }
                  tip:
                    type: object
                    additionalProperties: false
                    properties:
                      id: { type: string }
                      created_at: { type: string, format: date-time }
                      text: { type: string }
                      url: { type: string }
                      lang: { type: string }
                      agree_count: { type: integer }
                      disagree_count: { type: integer }
        date_closed: { type: string, format: date, nullable: true }
        date_created: { type: string }
        date_refreshed: { type: string }
        description: { type: string }
        distance: { type: integer }
        email: { type: string }
        extended_location:
          type: object
          additionalProperties: false
          properties:
            dma: { type: string }
            census_block_id: { type: string }
        attributes:
          type: object
          additionalProperties: true
          properties:
            restroom: { type: boolean, nullable: true }
            outdoor_seating: { type: boolean, nullable: true }
            atm: { type: boolean, nullable: true }
            has_parking: { type: boolean, nullable: true }
            delivery: { type: boolean, nullable: true }
            reservations: { type: boolean, nullable: true }
            takes_credit_card: { type: boolean, nullable: true }
            wifi: { type: string, nullable: true }
        hours:
          type: object
          additionalProperties: false
          properties:
            display: { type: string }
            is_local_holiday: { type: boolean }
            open_now: { type: boolean }
            regular:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  close: { type: string }
                  day: { type: integer, minimum: 0, maximum: 7 }
                  open: { type: string }
        hours_popular:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              close: { type: string }
              day: { type: integer, minimum: 0, maximum: 7 }
              open: { type: string }
        link: { type: string }
        location:
          type: object
          additionalProperties: false
          properties:
            address: { type: string }
            locality: { type: string }
            region: { type: string }
            postcode: { type: string }
            admin_region: { type: string }
            post_town: { type: string }
            po_box: { type: string }
            country: { type: string }
            formatted_address: { type: string }
        menu: { type: string }
        photos:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              id: { type: string }
              created_at: { type: string, format: date-time }
              prefix: { type: string }
              suffix: { type: string }
              width: { type: integer }
              height: { type: integer }
              tip:
                type: object
                additionalProperties: false
                properties:
                  id: { type: string }
                  created_at: { type: string, format: date-time }
                  text: { type: string }
                  url: { type: string }
                  lang: { type: string }
                  agree_count: { type: integer }
                  disagree_count: { type: integer }
        popularity: { type: number }
        placemaker_url: { type: string, nullable: true }
        price: { type: integer }
        rating: { type: number }
        social_media:
          type: object
          additionalProperties: false
          properties:
            facebook_id: { type: string }
            instagram: { type: string }
            twitter: { type: string }
        stats:
          type: object
          additionalProperties: false
          properties:
            total_photos: { type: integer }
            total_ratings: { type: integer }
            total_tips: { type: integer }
        store_id: { type: string }
        tastes:
          type: array
          items: { type: string }
        tel: { type: string }
        tips:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              id: { type: string }
              created_at: { type: string, format: date-time }
              text: { type: string }
              url: { type: string }
              lang: { type: string }
              agree_count: { type: integer }
              disagree_count: { type: integer }
        verified: { type: boolean }
        website: { type: string }

  securitySchemes:
    ServiceKeyBearerTokenAuth:
      type: http
      scheme: bearer
paths:
  /places/search:
    get:
      tags: [ Places ]
      summary: Search for places
      description: >
        Search for places in the FSQ Places database using a location and querying by name, category name,
        telephone number, taste label, or chain name. If no explicit location is provided, IP-biased geolocation
        is applied with an optional radius.
        Supported location inputs:
          - ll + radius (circular boundary)
          - near (geocodable locality)
          - ne + sw (rectangular boundary)
      operationId: placeSearch
      security:
        - ServiceKeyBearerTokenAuth: [ ]
      parameters:
        # --- Required version header per docs ---
        - name: X-Places-Api-Version
          in: header
          required: true
          description: The version of the API to use.
          schema:
            type: string
            enum: [ "2025-06-17" ]
            default: "2025-06-17"

        # --- Query ---
        - name: query
          in: query
          description: A string matched against venue name, categories, telephone, tastes, tips, etc.
          schema: { type: string, maxLength: 256 }

        # Location & radius
        - name: ll
          in: query
          description: Latitude/longitude as `lat,lng` (e.g., `41.8781,-87.6298`).
          schema:
            type: string
        - name: radius
          in: query
          description: >
            Radius in meters to bias results (usable with `ll` or IP bias only). Max 100,000.
            If not provided, default is 22,000. Using `radius` omits global results.
          schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 100000

        # Categories (official name per page)
        - name: fsq_category_ids
          in: query
          description: >
            Filter by Foursquare Category IDs. Multiple IDs comma-separated.
            See Category Taxonomy.
          schema: { type: string }

        # Chains (official triplet)
        - name: fsq_chain_ids
          in: query
          description: >
            Filter by Foursquare Chain IDs. Multiple IDs comma-separated.
            See Chains page.
          schema: { type: string }
        - name: exclude_fsq_chain_ids
          in: query
          description: >
            Exclude specific chains by ID. Multiple IDs comma-separated.
            Cannot be used with `exclude_all_chains`.
          schema: { type: string }
        - name: exclude_all_chains
          in: query
          description: >
            Return only places not known to be part of any chain.
            Cannot be used with `exclude_fsq_chain_ids`.
          schema: { type: boolean }

        # Field selector
        - name: fields
          in: query
          description: >
            Comma-separated list of fields to return. If omitted, all **Pro Fields**
            are returned by default (per Places Response Fields page).
          schema: { type: string }

        # Price filters
        - name: min_price
          in: query
          description: Minimum price tier (1–4).
          schema: { type: integer, format: int32, minimum: 1, maximum: 4 }
        - name: max_price
          in: query
          description: Maximum price tier (1–4).
          schema: { type: integer, format: int32, minimum: 1, maximum: 4 }

        # Opening hours
        - name: open_at
          in: query
          description: >
            Local day/time as `DOWTHHMM` (e.g., `1T2130`). Not usable with `open_now`.
            Places without hours are excluded if provided.
          schema: { type: string }
        - name: open_now
          in: query
          description: >
            Only return places open now. Not usable with `open_at`.
            Places without hours are excluded if provided.
          schema: { type: boolean }

        # Telephone format
        - name: tel_format
          in: query
          description: Specifies the format of the returned telephone number.
          schema:
            type: string
            enum: [ NATIONAL, E164 ]

        # Rectangular bounds
        - name: ne
          in: query
          description: >
            North/east corner `lat,lng`. Must be used with `sw`. Global results omitted.
          schema: { type: string }
        - name: sw
          in: query
          description: >
            South/west corner `lat,lng`. Must be used with `ne`. Global results omitted.
          schema: { type: string }

        # Locality name
        - name: near
          in: query
          description: >
            Geocodable locality (e.g., "Chicago, IL"). If not geocodable, returns an error.
            Global results omitted.
          schema: { type: string }

        # Sorting & limit
        - name: sort
          in: query
          description: Specifies the order in which results are listed.
          schema:
            type: string
            enum: [ RELEVANCE, RATING, DISTANCE, POPULARITY ]
        - name: limit
          in: query
          description: The number of results to return, up to 50. Defaults to 10.
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 50

      x-dependencies:
        - OnlyOne(near, ll, ne)
        - AllOrNone(ll, radius)
        - AllOrNone(ne, sw)
        - ZeroOrOne(fsq_chain_ids, exclude_fsq_chain_ids)
        - ZeroOrOne(exclude_fsq_chain_ids, exclude_all_chains)
        - IF fsq_chain_ids THEN exclude_all_chains == false
        - ZeroOrOne(open_at, open_now)
        - min_price <= max_price

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        fsq_place_id:
                          type: string
                        name:
                          type: string
                        # Top-level lat/lng (example shows {}, treat as number + nullable here)
                        latitude:
                          type: number
                          nullable: true
                        longitude:
                          type: number
                          nullable: true

                        categories:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              fsq_category_id:
                                type: string
                              name:
                                type: string
                              short_name:
                                type: string
                              plural_name:
                                type: string
                              icon:
                                type: object
                                additionalProperties: false
                                properties:
                                  id: { type: string }
                                  created_at: { type: string, format: date-time }
                                  prefix: { type: string }
                                  suffix: { type: string }
                                  width: { type: integer }
                                  height: { type: integer }
                                  classifications:
                                    type: array
                                    items: { type: string }
                                  tip:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                      id: { type: string }
                                      created_at: { type: string, format: date-time }
                                      text: { type: string }
                                      url: { type: string }
                                      lang: { type: string }
                                      agree_count: { type: integer }
                                      disagree_count: { type: integer }

                        chains:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              fsq_chain_id: { type: string }
                              name: { type: string }
                              parent_id: { type: string, nullable: true }
                              logo:
                                type: object
                                additionalProperties: false
                                properties:
                                  id: { type: string }
                                  created_at: { type: string, format: date-time }
                                  prefix: { type: string }
                                  suffix: { type: string }
                                  width: { type: integer }
                                  height: { type: integer }
                                  classifications:
                                    type: array
                                    items: { type: string }
                                  tip:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                      id: { type: string }
                                      created_at: { type: string, format: date-time }
                                      text: { type: string }
                                      url: { type: string }
                                      lang: { type: string }
                                      agree_count: { type: integer }
                                      disagree_count: { type: integer }

                        date_closed:
                          type: string
                          format: date
                          nullable: true
                        date_created:
                          type: string
                        date_refreshed:
                          type: string
                        description:
                          type: string
                        distance:
                          type: integer
                        email:
                          type: string
                        extended_location:
                          type: object
                          additionalProperties: false
                          properties:
                            dma: { type: string }
                            census_block_id: { type: string }
                        attributes:
                          type: object
                          # Example provides several boolean flags plus a wifi string
                          additionalProperties: true
                          properties:
                            restroom: { type: boolean, nullable: true }
                            outdoor_seating: { type: boolean, nullable: true }
                            atm: { type: boolean, nullable: true }
                            has_parking: { type: boolean, nullable: true }
                            delivery: { type: boolean, nullable: true }
                            reservations: { type: boolean, nullable: true }
                            takes_credit_card: { type: boolean, nullable: true }
                            wifi: { type: string, nullable: true }

                        hours:
                          type: object
                          additionalProperties: false
                          properties:
                            display: { type: string }
                            is_local_holiday: { type: boolean }
                            open_now: { type: boolean }
                            regular:
                              type: array
                              items:
                                type: object
                                additionalProperties: false
                                properties:
                                  close: { type: string }
                                  day: { type: integer, minimum: 0, maximum: 7 }
                                  open: { type: string }

                        hours_popular:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              close: { type: string }
                              day: { type: integer, minimum: 0, maximum: 7 }
                              open: { type: string }

                        link: { type: string }

                        location:
                          type: object
                          additionalProperties: false
                          properties:
                            address: { type: string }
                            locality: { type: string }
                            region: { type: string }
                            postcode: { type: string }
                            admin_region: { type: string }
                            post_town: { type: string }
                            po_box: { type: string }
                            country: { type: string }
                            formatted_address: { type: string }

                        menu: { type: string }

                        photos:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              fsq_photo_id: { type: string }
                              created_at: { type: string, format: date-time }
                              prefix: { type: string }
                              suffix: { type: string }
                              width: { type: integer }
                              height: { type: integer }
                              classifications:
                                type: array
                                items: { type: string }
                              tip:
                                type: object
                                additionalProperties: false
                                properties:
                                  fsq_tip_id: { type: string }
                                  created_at: { type: string, format: date-time }
                                  text: { type: string }
                                  url: { type: string }
                                  lang: { type: string }
                                  agree_count: { type: integer }
                                  disagree_count: { type: integer }
                                  photo:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                      id: { type: string }
                                      created_at: { type: string, format: date-time }
                                      prefix: { type: string }
                                      suffix: { type: string }
                                      width: { type: integer }
                                      height: { type: integer }
                                      classifications:
                                        type: array
                                        items: { type: string }
                                      tip:
                                        type: object
                                        additionalProperties: false
                                        properties:
                                          id: { type: string }
                                          created_at: { type: string, format: date-time }
                                          text: { type: string }
                                          url: { type: string }
                                          lang: { type: string }
                                          agree_count: { type: integer }
                                          disagree_count: { type: integer }

                        popularity: { type: number }
                        placemaker_url:
                          type: string
                          nullable: true
                        price: { type: integer }
                        rating: { type: number }

                        related_places:
                          type: object
                          additionalProperties: false
                          properties:
                            parent:
                              $ref: '#/components/schemas/FsqPlaceLite'
                            children:
                              type: array
                              items:
                                $ref: '#/components/schemas/FsqPlaceLite'

                        social_media:
                          type: object
                          additionalProperties: false
                          properties:
                            facebook_id: { type: string }
                            instagram: { type: string }
                            twitter: { type: string }

                        stats:
                          type: object
                          additionalProperties: false
                          properties:
                            total_photos: { type: integer }
                            total_ratings: { type: integer }
                            total_tips: { type: integer }

                        store_id: { type: string }
                        tastes:
                          type: array
                          items: { type: string }
                        tel: { type: string }

                        tips:
                          type: array
                          items:
                            type: object
                            additionalProperties: false
                            properties:
                              fsq_tip_id: { type: string }
                              created_at: { type: string, format: date-time }
                              text: { type: string }
                              url: { type: string }
                              lang: { type: string }
                              agree_count: { type: integer }
                              disagree_count: { type: integer }
                              photo:
                                type: object
                                additionalProperties: false
                                properties:
                                  id: { type: string }
                                  created_at: { type: string, format: date-time }
                                  prefix: { type: string }
                                  suffix: { type: string }
                                  width: { type: integer }
                                  height: { type: integer }
                                  classifications:
                                    type: array
                                    items: { type: string }
                                  tip:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                      id: { type: string }
                                      created_at: { type: string, format: date-time }
                                      text: { type: string }
                                      url: { type: string }
                                      lang: { type: string }
                                      agree_count: { type: integer }
                                      disagree_count: { type: integer }

                        verified: { type: boolean }
                        unresolved_flags:
                          type: array
                          items: { type: string }
                        veracity_rating:
                          type: object
                          nullable: true
                          additionalProperties: true
                        website: { type: string }

                        plugins:
                          type: object
                          additionalProperties: true
                          properties:
                            traversable_again: { type: boolean }

                  context:
                    type: object
                    additionalProperties: false
                    properties:
                      geo_bounds:
                        type: object
                        additionalProperties: false
                        properties:
                          circle:
                            type: object
                            additionalProperties: false
                            properties:
                              center:
                                type: object
                                additionalProperties: false
                                properties:
                                  latitude: { type: number }
                                  longitude: { type: number }
                              radius: { type: integer }

        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '403': { description: Forbidden }
        '429': { description: Rate limit exceeded }
